<style type="text/css" media="all">
    /* Force Hotmail to display emails at full width */
    .ReadMsgBody {width: 100%; }
    .ExternalClass {width: 100%; }
    /* Forces Hotmail to display normal line spacing. */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%; }
    /* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
    body {-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
    /* Resets all body margins and padding to "0" for good measure. */
    body { margin:0; padding:0; }
    /* Resolves webkit padding issue. */
    table {border-spacing:0; }
    /* Resolves the Outlook 2007, 2010, and Gmail td padding issue. */
    table td {border-collapse:collapse; padding: 20px;}
    /* Weird Yahoo links and border bottom */
    .yshortcuts a {border-bottom: none !important;}
    a:link {color:#547708; text-decoration: none;}      
    a:visited {color:#547708; text-decoration: none;}  
    a:hover {color:#547708; text-decoration: none;}  
    a:active {color:#547708; text-decoration: none;}  
    body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
    body { margin:0; border-collapse: collapse; background: #e9e9e9 !important; font-family:"Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;}
    div.body-container {background: #e9e9e9; padding-left: 4%; padding-top: 20px; padding-bottom: 20px;}
    table {border-spacing:0; width: 92% !important; margin: 0 auto !important; padding: 10px; border: solid 1px #ddd; color:#454545 !important;}
    table th.th-header{
        color: #444444 !important;font-family: "Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;
        font-size: 1em !important;font-weight: bold !important;background: #DDDDDD !important; text-align:center;}
    table th {font-size: 16px; color: #444444; font-family:"Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif; font-weight: bold;}
    table.emails-table-header { background:#ddd !important; width: 92% !important; margin: 0 auto !important; border: 0 !important; }
    table.emails-table-body { background: white !important; text-align: left; color: #454545 !important; margin: 0 auto !important;}
    table.emails-table-header td {text-align: left !important;}
    table.emails-table-header td.force-col { text-align: right; }
    table.emails-table-header td.force-col h1 { font-size: 16px; font-weight: bold; font-family:"Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important; color: #454545; }
    table.emails-table-header tr td.nor-col {text-align: left !important;}
    table td.table-titles { font-weight: bold; }
    table td.force-col { vertical-align: bottom; position:relative !important; bottom: -15px; }
    table.odc-splits{padding:0;margin:0 auto !important;font-size:15px !important;font-family:"Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;}
        td.image {  width:20% !important; }
            td.image img {  border: none !important; }
        table.odc-splits th{padding: 10px 0 10px 10px; margin: 0 auto !important;font-size:16px !important;font-family:"Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;}
        table.odc-splits td{font-size:15px !important;font-family:"Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;}
    table.paragraphs-center {border: 0 !important; width: 92% !important; margin-top: 20px; margin-left: auto; margin-right: auto; padding: 20px; background: white; }
    table.paragraphs-center td { }
    @media screen and (max-width: 600px) {
        body { padding-top: 0px !important; padding-left: 0 !important; padding-bottom: 4% !important; padding-right: 0 !important; }
    }
    @media screen and (max-width: 600px) {
        div[class="body-container"] {padding-left: 0 !important; padding-top: 0 !important;}
        table { margin-left: 6% !important;  font-size: 16px !important; }
        table[class="emails-table-header"] {background: #e9e9e9 !important;margin-top: 0px !important;padding:0px !important;}
        table[class="paragraphs-center"] {padding: 10px !important; }
        table[class="paragraphs-center"] td {padding: 0px !important; }
        table[class="emails-table-header"] tr th  {text-align: left !important;}
        table[class="emails-table-header"] tr td[class="nor-col"] {
            text-align: left !important;
            background-image: url(<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/logo.png) !important;
            height: 47px !important;
            background-size: 142px 47px !important;
            background-repeat: no-repeat !important;
            background-position: 10px 10px !important;
            padding-bottom: 10px !important;
        }
        table[class="emails-table-header"] tr td[class="nor-col"] img { display: none !important; border: 0px !important;}
        table[class="emails-table-body"] {background: white !important;text-align: left !important;margin-top: 0px !important;padding: 0px !important;}
        table[class="emails-table-header"] th[class="th-header"] {
            color: #454545 !important;
            font-family: "Cabin","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif !important;
            font-size: 1em !important;
            font-weight: bold !important;
            background: #DDDDDD !important;
            padding: 10px !important;
            text-align: left !important;
        }
        td.image img {width: 50px !important;padding: 0 !important; margin: 0 !important;}
        table[class="odc-splits"] {width: 92% !important;color: #454545 !important;padding: 0 !important;}
        table[class="odc-splits"] th {
            color: #454545 !important;
            background: #ddd !important;
            padding: 10px !important;
            text-align: left !important;
            font-size: 16px !important;
        }
        table[class="odc-splits"] td {vertical-align: top !important;}
        tr[class="odc-splits-rows"] {font-size: 12px !important;}
        tr[class="odc-splits-rows"] td {padding: 5px !important;}
        td[class="image"] {width:23% !important;}
        td[class="image-item-desc"] {width:26% !important;}
    }
    @media only screen and (max-width : 600px) {
        td[class="nor-col"] {display: block;padding: 10px !important;text-align: center !important;color: #222 !important;}
        td[class="force-col"] {display: none !important;}
        td[class="table-titles"] {font-weight: bold !important;}
    }
</style>