<venda_tpcomment><!-- This template is used by product detail when the product has attributes, it cycles through and stores the image paths to the various attribute 1 association values (e.g. xsmall,medium,large image path for Red Shirt) --></venda_tpcomment>

<venda_detblock_mediagridrow>
	<venda_detail_mediagridcell>
</venda_detblock_mediagridrow>

<venda_detblock_mediagridcell>
	<venda_block label=1,emptycell!=1,medatrvalue!=>
	colourSwatch['<venda_invtuuid>'].loadImage("<venda_medatrvalue>",{
		setswatch: "<venda_media rec=invt,type=pict,key=setswatch,medatr=yes,img=no>",
		<venda_block label=notsearch,mode=value,<venda_tpxt mode=get,name=activekeyword>=null>
		<venda_tpcomment>/* The image key for 'product list' template*/</venda_tpcomment>
		setimage: "<venda_media rec=invt,type=pict,key=set<venda_setting type=ebiz,name=setproductlistimagekey>,medatr=yes,img=no>"
		</venda_block label=notsearch>
		<venda_block label=search,mode=value,<venda_tpxt mode=get,name=activekeyword>=notnull>
		<venda_tpcomment>/* The image key for 'search' template */</venda_tpcomment>
		setimage: "<venda_media rec=invt,type=pict,key=set<venda_setting type=ebiz,name=setsearchimagekey>,medatr=yes,img=no>"
		</venda_block label=search>
	});
	</venda_block label=1>
</venda_detblock_mediagridcell>

<script type="text/javascript">
	<venda_detail_mediagridrow>
	colourSwatch['<venda_invtuuid>'].displaySwatch();
</script> 
