==============================================================================<cr>
<venda_text id=site.email.tandc.how_to_redeem><cr>
==============================================================================<cr><cr>

- <venda_text id=site.email.tandc.go_to> <venda_serveradd>.

- <venda_text id=site.email.tandc.msg1>

- <venda_text id=site.email.tandc.msg2>

- <venda_text id=site.email.tandc.msg3>

- <venda_text id=site.email.tandc.msg4>

- <venda_text id=site.email.tandc.msg5>

- <venda_text id=site.email.tandc.msg6>

<venda_text id=site.email.tandc.msg7>


==============================================================================<cr>
<venda_text id=site.email.tandc.terms_conditions><cr>
==============================================================================<cr><cr>

<venda_text id=site.email.tandc.terms_conditions_use><cr>

	1. <venda_text id=site.email.tandc.item1>
	
	2. <venda_text id=site.email.tandc.item2> <venda_ebizarea> <venda_ebizphone>.
	
	3. <venda_text id=site.email.tandc.item3>
	
	4. <venda_text id=site.email.tandc.item4> <venda_coamt> <venda_text id=site.email.tandc.text.item4.gbp>
	
	5. <venda_text id=site.email.tandc.item5>
	
	6. <venda_text id=site.email.tandc.item6>
	
	7. <venda_text id=site.email.tandc.item7>
	
	8. <venda_text id=site.email.tandc.item8>
	
	9. <venda_text id=site.email.tandc.item9>
	
	10. <venda_text id=site.email.tandc.item10>
	
	11. <venda_text id=site.email.tandc.item11>
