<div id="tag-validation_title" style="display:none;"><venda_text id=desktop.validation.title></div>
<div id="tag-validation_fname" style="display:none;"><venda_text id=desktop.validation.fname></div>
<div id="tag-validation_lname" style="display:none;"><venda_text id=desktop.validation.lname></div>
<div id="tag-validation_country" style="display:none;"><venda_text id=desktop.validation.country></div>
<div id="tag-validation_house_num" style="display:none;"><venda_text id=desktop.validation.house_num></div>
<div id="tag-validation_addr1" style="display:none;"><venda_text id=desktop.validation.addr1></div>
<div id="tag-validation_city" style="display:none;"><venda_text id=desktop.validation.city></div>
<div id="tag-validation_state" style="display:none;"><venda_text id=desktop.validation.state></div>
<div id="tag-validation_postcode" style="display:none;"><venda_text id=desktop.validation.postcode></div>
<div id="tag-validation_postcode_populate" style="display:none;"><venda_text id=desktop.validation.postcode_populate></div>
<div id="tag-validation_postcode_dropdown" style="display:none;"><venda_text id=desktop.validation.postcode_dropdown></div>
<div id="tag-validation_phone" style="display:none;"><venda_text id=desktop.validation.phone></div>
<div id="tag-validation_email" style="display:none;"><venda_text id=desktop.validation.email></div>
<div id="tag-validation_email_vaild" style="display:none;"><venda_text id=desktop.validation.email_valid></div>
<div id="tag-validation_password" style="display:none;"><venda_text id=desktop.validation.password></div>
<div id="tag-validation_verify_password_minlength" style="display:none;"><venda_text id=desktop.validation.verify_password_minlength></div>
<div id="tag-validation_verify_password_maxlength" style="display:none;"><venda_text id=desktop.validation.verify_password_maxlength></div>
<div id="tag-validation_confirm_password" style="display:none;"><venda_text id=desktop.validation.confirm_password></div>
<div id="tag-validation_verify_password_match" style="display:none;"><venda_text id=desktop.validation.verify_password_match></div>
<div id="tag-validation_credit_card_number" style="display:none;"><venda_text id=desktop.validation.credit_card_number></div>
<div id="tag-validation_credit_card_name" style="display:none;"><venda_text id=desktop.validation.credit_card_name></div>
<div id="tag-validation_security_code_length" style="display:none;"><venda_text id=desktop.validation.security_code_length></div>
<div id="tag-validation_credit_card_expired" style="display:none;"><venda_text id=desktop.validation.credit_card_expired></div>
<div id="tag-validation_datenow" style="display:none;"><venda_dateformat type=digit,format=mm/dd/yyyy,suffix=0,date=now></div>
<div id="tag-validation_giftcert_code" style="display:none;"><venda_text id=desktop.validation.enter_gift_certificate_code></div>
<div id="tag-validation_promo_code" style="display:none;"><venda_text id=desktop.validation.enter_promo_code></div>
<div id="tag-validation_search" style="display:none;"><venda_text id=desktop.validation.search></div>
<div id="tag-validation_security_code" style="display:none;"><venda_text id=desktop.validation.security_code></div>
<div id="tag-validation_name" style="display:none;"><venda_text id=desktop.validation.name></div>
<div id="tag-validation_message" style="display:none;"><venda_text id=desktop.validation.message></div>
<div id="tag-validation_to" style="display:none;"><venda_text id=desktop.validation.to></div>
<div id="tag-validation_rank" style="display:none;"><venda_text id=desktop.validation.rank></div>
<div id="tag-validation_review" style="display:none;"><venda_text id=desktop.validation.review></div>
<div id="tag-validation_least" style="display:none;"><venda_text id=desktop.validation.least></div>
<div id="tag-validation_least_two" style="display:none;"><venda_text id=desktop.validation.least_two></div>
<div id="tag-validation_minLength" style="display:none;"><venda_text id=desktop.validation.minlength></div>
<div id="tag-validation_maxLength" style="display:none;"><venda_text id=desktop.validation.maxlength></div>
<div id="tag-validation_number" style="display:none;"><venda_text id=desktop.validation.number></div>
<div id="tag-validation_minValue" style="display:none;"><venda_text id=desktop.validation.minvalue></div>
<div id="tag-validation_maxValue" style="display:none;"><venda_text id=desktop.validation.maxvalue></div>

<venda_tpcomment><!-- ids from compare, need updating to follow id naming --></venda_tpcomment>
<div id="js-compare-product-list-compare-validation" style="display:none;"><venda_text id=desktop.validation.compare_min></div>
<div id="js-compare-product-is-already" style="display:none;"><venda_text id=desktop.validation.compare_already></div>
<div id="js-compare-cannot-compare-different-type" style="display:none;"><venda_text id=desktop.validation.compare_type></div>
<div id="js-compare-remove-item-before" style="display:none;"><venda_text id=desktop.validation.compare_max></div>

<venda_tpcomment><!-- ids from search, need updating to follow id naming --></venda_tpcomment>
<div id="tag-rangevalidate" style="display:none;"><venda_text id=desktop.validation.range></div>

<venda_tpcomment><!-- ids from EMWBIS, need updating to follow id naming --></venda_tpcomment>
<div id="email-when-in-stock-validation" style="display: none"><venda_text id=desktop.validation.email></div>