<nav id="js-canvas-content-left" role="navigation" class="off-canvas-content off-canvas-left">
    <ul>
        <li class="welcome first"><venda_block label=1,ustype=R><venda_userinfo><span><venda_text id=desktop.info.welcome_back></span> <span><venda_sesfname> <venda_seslname></span></venda_userinfo></venda_block label=1><venda_block label=2,ustype!=R><span><venda_text id=desktop.info.welcome_to></span> <venda_setting type=ebiz,name=name></venda_block label=2></li>

        <venda_block label=21,ustype!=R>
            <li class="login loginout"><a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>"><i class="icon-log-in"></i><span><venda_text id=desktop.button.log_in_register></span></a></li>
        </venda_block label=21>

        <venda_block label=20,ustype=R>
            <li class="myaccount"><venda_block label=300,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="<venda_codehttps>?ex=co_wizr-myaccount&bsref=<venda_bsref>"></venda_block label=300><venda_block label=301,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>"></venda_block label=301><i class="icon-user"></i><span><venda_text id=desktop.button.my_account></span></a></li>

            <li class="recentorders row"><a href="/page/recentorders"><i class="icon-recent-orders"></i><span><venda_text id=desktop.heading.recent_orders></span></a>
                <div class="small-24 columns"><div id="js-recentorders" class="small-24 columns"></div></div>
            </li>

            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&param1=storecredit"><i class="icon-store-credit"></i><span><venda_text id=desktop.button.view_remaining_store_credit></span></a></li>

            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,comm=change>"><i class="icon-edit-communication-options"></i><span><venda_text id=desktop.button.edit_communication_options></span></a></li>

            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>"><i class="icon-edit-email-password"></i><span><venda_text id=desktop.button.edit_email_password></span></a></li>

            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,addr=change>"><i class="icon-edit-billing-details"></i><span><venda_text id=desktop.button.edit_billing_details></span></a></li>

            <li><a href="<venda_codehttps>?ex=co_wizr-myaccount&log=22&step=addressbook&bsref=<venda_bsref>"><i class="icon-address-book"></i><span><venda_text id=desktop.button.view_address_book></span></a></li>
        </venda_block label=20>

        <li><a href="/pcat/cloggs_helpdesk" rel="nofollow"><i class="icon-cloggs-helpdesk"></i><span><venda_ebizname> <venda_text id=desktop.button.helpdesk></span></a></li>

        <li><a href="tel:<venda_ebizarea><venda_ebizphone>"><i class="icon-telephone"></i><span><venda_text id=desktop.button.telephone> <venda_ebizarea> <venda_ebizphone></span></a></li>

        <li><a href="https://twitter.com/Cloggsuk" target="_blank"><i class="icon-twitter-off-canvas"></i><span><venda_text id=desktop.button.twitter></span></a></li>

        <li><a href="http://www.facebook.com/Cloggs.co.uk" target="_blank"><i class="icon-facebook-off-canvas"></i><span><venda_text id=desktop.button.facebook></span></a></li>

        <venda_block label=20,ustype=R>
            <li class="logout loginout"><a href="<venda_dispview page=home>&log=4"><i class="icon-signout"></i><span><venda_text id=desktop.button.log_out></span></a></li>
        </venda_block label=20>
    </ul>
</nav>