<venda_detblock_package><venda_detblock_packageitem>
Venda.Widget.Tracking.orditemJSON ({
        'sku':'<venda_invtref>',
        'parref':'<venda_invtparef>',
        'name':'<venda_oiivname>',
        'attributes': {
            'att1':'<venda_invtatt1>',
            'att2':'<venda_invtatt2>',
            'att3':'<venda_invtatt3>',
            'att4':'<venda_invtatt4>'
        },
        'url':'<venda_block mode=value,<venda_invtparef>!=><venda_dispview invt=<venda_invtparef>></venda_block><venda_block mode=value,<venda_invtparef>=><venda_dispview invt=<venda_oiivref>></venda_block>',
        'giftwrap':'<venda_oigwref>',
        'brand':'<venda_invtbrand>',
        'category':'<venda_invtcatref0>',
        'type':'<venda_invtivtype>',
        'price':'<venda_block mode=value,<venda_invtivtype>!=giftcertificate><venda_invtsell></venda_block><venda_block mode=value,<venda_invtivtype>=giftcertificate><venda_oisub></venda_block>',
        'qty':'<venda_oiqty>',
        'shipmethod':'<venda_pkshipmthd>',
        'shipcity':'<venda_pkcity>',
        'shipstate':'<venda_pkstate>',
        'shipcountry':'<venda_pkcntry>'
});
</venda_detblock_packageitem><venda_detail_packageitem></venda_detblock_package>
<script>
Venda.Widget.Tracking.orderJSON = {'ref':'<venda_ohordnum>','total':'<venda_ohtot>','tax':'<venda_ohtax>','shipping':'<venda_ohship>','city':'<venda_ohcity>','state':'<venda_ohstate>','country':'<venda_ohcntry>','currency':'<venda_ohcur>','store':'<venda_setting type=ebiz,name=name>'};
<venda_detail_package>
</script>