<div class="footer-boxes large-24 columns marg-top">

<!-- Chat button -->
<div class="floatingchat hide-for-small hide-for-medium"><a href="https://c.velaro.com/visitor/requestchat.aspx?siteid=11715&showwhen=inqueue" target="_blank"  onclick="this.newWindow = window.open('https://c.velaro.com/visitor/requestchat.aspx?siteid=11715&showwhen=inqueue', 'LiveChatSoftware', 'toolbar=no,location=no,directories=no,menubar=no,status=no,scrollbars=no,resizable=yes,replace=no');this.newWindow.focus();this.newWindow.opener=window;return false;"><img alt="Chat now" height="200" width="50" src="http://c.velaro.com/visitor/check.aspx?siteid=11715&showwhen=inqueue" border="0"></a></div><!--Chat button -->


    <div class="row">
        <div class="footer-boxes-one small-24 large-15 columns">
            <venda_inctemplate name=emailSignup,type=widgets>
        </div>
        <div class="footer-boxes-two small-24 large-9 columns text-center">
            <a href="https://itunes.apple.com/us/app/cloggs-shoes/id743811901?mt=8" rel="nofollow" target="_blank"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/dlapp.jpg" alt="Download the Cloggs app"></a>
        </div>
    </div>
</div>

<div class="footer-links large-24 columns  thinpad-side">
    <venda_page page=footerlinks>
    <div class="row footer-row-three">
        <div class="large-17 columns footer-col-one">
            <p class="copyright"><span><venda_text id=desktop.info.copyright> </span>&copy; 1999 - <venda_dateformat date=now,format=yyyy> <venda_ebizname>. <span>All rights reserved.</span></p>
        </div>
        <div class="large-5 columns footer-col-two">
            <venda_inctemplate name=vendaLogo,type=widgets>
        </div>
    </div>
</div>

<div id="vModal" class="reveal-modal xlarge"><div class="js-modalContent"></div><a class="close-reveal-modal">&#215;</a></div>

<!-- tpxt used for crumbtrail -->
<venda_block label=pagename,rtype=page><venda_tpxt mode=set,name=recordname,value=<venda_pagename>></venda_block label=pagename>
<venda_block label=pcatname,rtype=pcat><venda_tpxt mode=set,name=recordname,value=<venda_pcatname>></venda_block label=pcatname>