<div class="popup-content-inner">
    <div class="main-navigation large-6 columns helpNavigation-box">
        <div id="box-helpNavigation" class="box box-section marg-top show-for-small">
            <div class="box-header text-center">
                <h3 class="js-togglebox" data-toggle="js-helpNavigation" data-toggle-icon="icon-minus">Browse <i class="icon-plus icon-small"></i></h3>
            </div>
        </div>
        <div id="helpNavigation" class="hide-for-small js-helpNavigation">
            <venda_category rec=pcat,ref=cloggs_helpdesk,temp=helpNavigation,itemsperpage=100>
        </div>
    </div><!-- end help nav -->

    <div id="content" role="main" class="main-content large-18 columns js-staticContent">
        <a name="skiptocontent" id="skiptocontent"></a>
        <venda_content>
    </div><!-- end content section -->
</div>