<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>QUnit Test Suite</title>

	<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/qunit/qunit.css" type="text/css" media="all">

	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/qunit/qunit.js"></script>

	<venda_inctemplate name=jsHead,type=mainIncludes>
	<venda_inctemplate name=js,type=mainIncludes>

	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/VendaJSUnitTests.js"></script>
<!-- 
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/qunit/deepEqual.js"></script>
	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/qunit/swarminject.js"></script>
-->

</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture">test markup</div>
</body>
</html>
