<div class="row notices">
	<div class="large-24 columns">
	<div class="panel radius">
		<div class="row">	
			<div class="large-8 small-24 columns pad-topbottom"><span><venda_fname> <venda_lname></span> </div>
			<div class="large-16 small-20 columns text-right">
				<a id="finduser" href="<venda_codehttps>?ex=co_wizr-instore&display=1&stashid=<venda_stashid>&workflowid=<venda_workflowid>&step=searchuser" <venda_block label=11,mode=value,<venda_shopcart mode=getqty>=0> style=" display: none;" </venda_block label=11>class="button secondary "><i class="icon-search show-for-small"></i> <span class="hide-for-small"><venda_text id=desktop.button.find_user></span></a>
				<a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" class="button secondary"><i class="icon-shopping-cart show-for-small"></i> <span class="hide-for-small"><venda_text id=desktop.button.basket></span></a>
				<a href="<venda_dispview page=quickshop>" class="button secondary"><i class="icon-eye-open show-for-small"></i> <span class="hide-for-small"><venda_text id=desktop.button.quick_shop></span></a>
			</div>	
		</div>					
		</div>
	</div>
</div>