<venda_block label=70,mode=value,<venda_islive>=1>
<!-- Google Code for Sale with Value Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1022802970;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "nkyECN6TwQIQmvja5wM";
    var google_conversion_value = 0;
    if (<venda_ohtot>) {
        google_conversion_value = <venda_ohtot>;
    }
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1022802970/?value=<venda_ohtot>&label=nkyECN6TwQIQmvja5wM&guid=ON&script=0"/>
    </div>
</noscript>
</venda_block label=70>