<venda_tpcomment><!-- this title will only display if user has arrived at store details via url like /stry/dummyproduct1 --></venda_tpcomment>
<div>
<venda_block label=12,workflow=null>
<div id="storelocatorresults">
	<h1><venda_stryname></h1>
	<div class="story story-store">
</venda_block label=12>
<div class="row">
	<div id="storeservices" class="large-12 columns">
			<div class="story-image">
				<venda_media rec=stry,type=pict,key=image>
			</div>
	</div>
	<div class="large-12 columns">
	<div id="storedetails" itemscope itemtype="http://schema.org/LocalBusiness">
		<div class="large-10 columns">
			<h4>Address</h4>
			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<venda_block label=20,stxtadd1=notnull><span itemprop="streetAddress"><venda_stxtadd1></span></venda_block label=20>
				<venda_block label=21,stxtadd2=notnull><br /><span itemprop="addressLocality"><venda_stxtadd2></span></venda_block label=21>
				<venda_block label=22,stxtadd3=notnull><br /><span itemprop="addressRegion"><venda_stxtadd3></span></venda_block label=22>
				<venda_block label=23,stxtadd4=notnull><br /><span itemprop="postalCode"><venda_stxtadd4></span></venda_block label=23>
				<venda_block label=24,stxtadd5=notnull><br /><span><venda_stxtadd5></span></venda_block label=24>
			</span>
			<venda_block label=9,stxtphone=notnull><br><br><h4><venda_text id=desktop.info.phone_number></h4><span itemprop="telephone"><venda_stxtphone></span></venda_block label=9>
		</div>
		<div class="story-opening large-14 columns">
				<h4<venda_block label=455,stxtmonday=null,stxttuesday=null,stxtwednesday=null,stxtthursday=null,stxtfriday=null,stxtsaturday=null,stxtsunday=null> class="hide"</venda_block label=455>><venda_text id=desktop.info.store.opening_times></h4>
				<table><tr>
					<tr><venda_block label=10,stxtmonday=notnull><td><div class="story-day"  itemprop="openingHours" content="Mon <venda_stxtmonday>"><venda_text id=desktop.info.store.day_one></div></td><td><div class="story-time"><venda_stxtmonday></div></td></venda_block label=10></tr>
					<tr><venda_block label=31,stxttuesday=notnull><td><div class="story-day" itemprop="openingHours" content="Tue <venda_stxttuesday>"><venda_text id=desktop.info.store.day_two></div></td><td><div class="story-time"><venda_stxttuesday></div></td></venda_block label=31></tr>
					<tr><venda_block label=32,stxtwednesday=notnull><td><div class="story-day" itemprop="openingHours" content="Wed <venda_stxtwednesday>"><venda_text id=desktop.info.store.day_three></div></td><td><div class="story-time"><venda_stxtwednesday></div></td></venda_block label=32></tr>
					<tr><venda_block label=33,stxtthursday=notnull><td><div class="story-day" itemprop="openingHours" content="Thu <venda_stxtthursday>"><venda_text id=desktop.info.store.day_four></div></td><td><div class="story-time"><venda_stxtthursday></div></td></venda_block label=33></tr>
					<tr><venda_block label=34,stxtfriday=notnull><td><div class="story-day" itemprop="openingHours" content="Fri <venda_stxtfriday>"><venda_text id=desktop.info.store.day_five></div></td><td><div class="story-time"><venda_stxtfriday></div></td></venda_block label=34></tr>
				<tr>	<venda_block label=35,stxtsaturday=notnull><td><div class="story-day" itemprop="openingHours" content="Sat <venda_stxtsaturday>"><venda_text id=desktop.info.store.day_six></div></td><td><div class="story-time"><venda_stxtsaturday></div></td></venda_block label=35></tr>
					<tr><venda_block label=36,stxtsunday=notnull><td><div class="story-day" itemprop="openingHours" content="Sun <venda_stxtsunday>"><venda_text id=desktop.info.store.day_seven></div></td><td><div class="story-time"><venda_stxtsunday></div></td></venda_block label=36></tr>
					<venda_block label=25,stryauthname=notnull><venda_text id=desktop.info.store_manager><venda_stryauthname></venda_block label=25>
					<venda_block label=26,stryauthemail=notnull><venda_text id=desktop.info.email_store></venda_block label=26>
				</table>
		</div>
	</div>
	</div>		
</div>
<div>
	<h3><venda_text id=desktop.info.welcome_to> <venda_stryname></h3>
	<p><venda_strydesc1></p>
	<p><venda_strydesc2></p>
</div>	
<ul class="small-block-grid-3">
	<venda_block label=service1,stxtservice1=notnull>
		<li><a href="#">Service 1</a></li>
	</venda_block label=service1>
	<venda_block label=service2,stxtservice2=notnull>
		<li><a href="#">Service 2</a></li>
	</venda_block label=service2>
	<venda_block label=service3,stxtservice3=notnull>
		<li><a href="#">Service 3</a></li>
	</venda_block label=service3>
</ul>
<hr>
<venda_block label=789,workflow=null>
</div></div>
</venda_block label=789>
</div>