<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="<venda_block label=10,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=10><venda_block label=11,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=11>" class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="<venda_block label=20,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=20><venda_block label=21,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=21>" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="<venda_block label=30,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=30><venda_block label=31,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=31>" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<venda_block label=40,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=40><venda_block label=41,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=41>" class="no-js"> <!--<![endif]-->
<!--[if gte IE 9]><style type="text/css">.gradient {filter: none;}</style><![endif]-->
<head>
<venda_inctemplate name=metatags,type=mainIncludes>
<venda_inctemplate name=title,type=mainIncludes>

<venda_inctemplate name=jsHead,type=mainIncludes>

<venda_inctemplate name=css,type=mainIncludes>
<venda_inctemplate name=head,type=tracking/shared>
</head>
<body id="<venda_rtype>_<venda_ref>" class="body-search">
<venda_inctemplate name=bodyTop,type=tracking/shared>
<venda_inctemplate name=admin,type=mainIncludes>
<venda_inctemplate name=nojavascript,type=mainIncludes>
<venda_inctemplate name=demo,type=mainIncludes>
<div class="outer-wrapper">
<div class="wrapper">
    <a href="#skiptocontent" class="skiptocontent"><venda_text id=desktop.button.skip_to_content></a>

    <div class="layout-search">
        <header id="header" role="banner">
            <venda_inctemplate name=header,type=mainIncludes>
        </header>

        <nav class="nav row collapse" id="nav" role="navigation">
            <venda_inctemplate name=topNavigation,type=mainIncludes>
        </nav>

        <div id="content-search" class="row collapse"><venda_content></div>

        <footer id="footer" role="contentinfo" class="row">
            <venda_inctemplate name=footer,type=mainIncludes>
        </footer>
    </div><!-- end search-content -->

    <div class="offCanvasLeftMenu show-for-small">
        <div class="block"><venda_inctemplate name=offCanvasLeftMenu,type=mainIncludes></div>
    </div><!-- end off canvas left menu -->

    <div class="offCanvasRightMenu show-for-small">
        <div class="block"><venda_inctemplate name=offCanvasRightMenu,type=mainIncludes></div>
    </div><!-- end off canvas right menu -->
</div><!-- end wrapper -->
</div><!-- end outer-wrapper -->

<!-- validation defs -->
<venda_inctemplate name=validation,type=includes>
<venda_inctemplate name=js,type=mainIncludes>

<venda_tpcomment><!--Back to top script!--></venda_tpcomment>
<!-- UItoTop plugin -->
    <script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.ui.totop.js" type="text/javascript"></script>
    <!-- Starting the plugin -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */
            
            $().UItoTop({ easingType: 'easeOutQuart' });
            
        });
    </script>

<venda_inctemplate name=bodyBottom,type=tracking/shared>
</body>
</html>