<div class="box box-footer">
    <div class="box-body">
            <form name="emailsonly1" action="<venda_codehttp>" method="get" class="nomarg">
            <input type="hidden" name="ex" value="co_disp-view">
            <input type="hidden" name="bsref" value="<venda_bsref>">
            <input type="hidden" name="page" value="signupforemails">
            <fieldset>
                <div class="newsletter">
                    <div class="news-col-1 text-center"><p style="line-height: 0.2em">Sign up to our <span style="font-style: italic; color: #009670;">newsletter</span></p><p>for exclusive offers</p></div>
                    <div class="news-col-2">
                        <div class="row collapse">
                            <div class="large-16 columns">
                              <input type="email" name="email" id="emailsignup" size="16" value="" placeholder="<venda_text id=desktop.form.email>">
                            </div>
                            <div class="large-7 columns">
                              <input type="submit" value="<venda_text id=desktop.button.email_sign_up>" id="newslettersubmit" class="button success button postfix">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            </form>
    </div>
</div>
