<venda_detblock_search_term_facets>
<venda_detblock_search_term_facet_values><venda_facetvalue></venda_detblock_search_term_facet_values>
<venda_block label=hideicatref,,mode=value,<venda_facetname>!=categories>
<venda_detail_search_term_facet_values>
</venda_block label=hideicatref>
</venda_detblock_search_term_facets>
<venda_detail_search_term_facets>
<venda_block label=keyword,keyword!=*><venda_keyword></venda_block label=keyword>
<venda_block label=pricefrom,pricefrom=notnull> <venda_text id=desktop.info.from> <venda_pricefrom> <venda_currency></venda_block label=pricefrom>
<venda_block label=priceto,priceto=notnull><venda_text id=desktop.info.to> <venda_priceto> <venda_currency></venda_block label=priceto>