<venda_tpcomment><!-- Chat button --></venda_tpcomment>
<div class="floatingchat hide-for-small"><a href="https://c.velaro.com/visitor/requestchat.aspx?siteid=11715&showwhen=inqueue" target="_blank"  onclick="this.newWindow = window.open('https://c.velaro.com/visitor/requestchat.aspx?siteid=11715&showwhen=inqueue', 'LiveChatSoftware', 'toolbar=no,location=no,directories=no,menubar=no,status=no,scrollbars=no,resizable=yes,replace=no');this.newWindow.focus();this.newWindow.opener=window;return false;"><img alt="Chat now" src="http://c.velaro.com/visitor/check.aspx?siteid=11715&showwhen=inqueue" border="0"></a></div>
<!--Chat button -->

<div class="footer-links large-24 columns  thinpad-side">
    <venda_page page=footerlinks>
    <div class="row footer-row-three">
        <div class="large-17 columns footer-col-one">
            <p class="copyright"><span><venda_text id=desktop.info.copyright> </span>&copy; 1999 - <venda_dateformat date=now,format=yyyy> <venda_ebizname>. <span>All rights reserved.</span></p>
        </div>
        <div class="large-5 columns footer-col-two">
            <venda_inctemplate name=vendaLogo,type=widgets>
        </div>
    </div>
</div>

<div id="vModal" class="reveal-modal xlarge"><div class="js-modalContent"></div><a class="close-reveal-modal">&#215;</a></div>

<!-- tpxt used for crumbtrail -->
<venda_block label=pagename,rtype=page><venda_tpxt mode=set,name=recordname,value=<venda_pagename>></venda_block label=pagename>
<venda_block label=pcatname,rtype=pcat><venda_tpxt mode=set,name=recordname,value=<venda_pcatname>></venda_block label=pcatname>