<div class="row">
    <span class="left marg-right"><strong><venda_text id=desktop.info.order_number>:</strong></span><span class="left"><venda_ohordnum></span>
</div>
<div class="row">
    <span class="left marg-right"><strong><venda_text id=desktop.info.order_status>:</strong></span><span class="left">
<venda_block label=10,mode=value,<venda_ohstatus>=On Hold><venda_text id=desktop.info.order_status_in_progress></venda_block label=10>
<venda_block label=11,mode=value,<venda_ohstatus>=Released for delivery><venda_text id=desktop.info.order_status_released_for_delivery></venda_block label=11>
<venda_block label=12,mode=value,<venda_ohstatus>=Backordered><venda_text id=desktop.info.order_status_backordered></venda_block label=12>
<venda_block label=13,mode=value,<venda_ohstatus>=Delivered><venda_text id=desktop.info.order_status_despatched></venda_block label=13>
<venda_block label=14,mode=value,<venda_ohstatus>=Returned><venda_text id=desktop.info.order_status_returned></venda_block label=14>
<venda_block label=15,mode=value,<venda_ohstatus>=Cancelled><venda_text id=desktop.info.order_status_cancelled></venda_block label=15></span>
</div>
<div class="row">
    <span class="left marg-right"><strong><venda_text id=desktop.info.order_total>:</strong></span><span class="left"><venda_currsym><venda_ohtot></span>
</div>
