<venda_detblock>
<li id="nav<venda_pageref1>" class="nav-<venda_pageref1>"><a href="<venda_dispview page=<venda_pageref1>>"><venda_pagename1></a></li>
</venda_detblock>
<div class="box">
    <div class="box-header"><h4><venda_pcatname></h4></div>
    <ul id="helpNavigation" class="box-body">
        <venda_detail>
    </ul>
</div>
<div class="box">
    <div class="box-header"><h4><venda_text id=desktop.info.help_1></h4></div>
    <ul class="box-body">
        <li><venda_text id=desktop.info.by_email>: <a href="mailto:<venda_setting type=ebiz,name=email>"><venda_setting type=ebiz,name=email></a></li>
        <li><venda_text id=desktop.info.by_phone>: <a href="tel:<venda_ebizarea><venda_ebizphone>"><venda_ebizarea> <venda_ebizphone></a></li>
    </ul>
</div>