<form name="emailsonly1" action="<venda_codehttp>" method="get" class="nomarg">
  <input type="hidden" name="ex" value="co_disp-view">
  <input type="hidden" name="bsref" value="<venda_bsref>">
  <input type="hidden" name="page" value="signupforemails">
  <div class="row">
      <div class="large-24 columns">
        <input type="email" name="email" id="emailsignup" size="16" value="" placeholder="Enter your email address here" class="signup">
      </div>
  </div>
  <div class="row">
      <div class="large-24 columns">
      <input type="submit" value="Sign me up" id="newslettersubmit" class="button success button postfix">
      </div>
  </div>
</form>
