<venda_detblock_item>
<li class="minicart-<venda_invtref> large-24 columns" id="li_<venda_invtref>">
<div id="minicartDetailHighlight_<venda_invtref>"></div>

<venda_block label=45,invtpublish=1>
<venda_block label=119,invtref!=giftcert>
<venda_tpcomment><!-- product --></venda_tpcomment>
	<div class="prod-image small-6 columns nopad">
		<a href="<venda_block label=20,invtatt1=notnull><venda_dispview invt=<venda_invtparef>></venda_block label=20><venda_block label=30,invtatt1=null><venda_dispview invt=<venda_invtref>></venda_block label=30>">
			<venda_block label=31,med-rxsmall=notnull><venda_media rec=invt,type=movie-swf-pict,key=rxsmall></venda_block label=31>
			<venda_block label=32,med-rxsmall=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></venda_block label=32>
		</a>
	</div>
	<div class="prod-details small-17 columns nopad">
		<venda_block label=80,invtatrtot&lt;1><span class="prod-name"><a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></span></venda_block label=80>
		<venda_block label=81,invtatrtot&gt;0><span class="prod-name"><a href="<venda_dispview invt=<venda_invtparef>>"><venda_invtname></a></span> <span class="prod-invtatt">(<venda_text id=desktop.info.att1_label>: <venda_invtatt1>)</span></venda_block label=81>
		<div class="columns nopad marg-top">
			<span class="prod-quantity"><venda_text id=desktop.info.qty>:&nbsp;<venda_oiqty></span>

			<p class="prod-remove left">
				<div class="hiddenfields">
					<input type="hidden" class="normal" value="<venda_bsref>" name="bsref" />
					<input type="hidden" class="normal" value="<venda_invtref>" name="hash" />
					<input type="hidden" class="normal" value="shopcart" name="curstep"/>
					<input type="hidden" class="normal" value="1" name="<venda_cartfield name=deleteline>"/>
					<input type="hidden" class="normal" value="<venda_lineid>" name="line-id"/>
					<input type="hidden" class="normal" value="<venda_lineid>" name="line-id-"/>
					<input type="hidden" class="normal" value="co_wizr-shopcart" name="ex"/>
					<input type="hidden" class="dataline" value="<venda_oibun>" name="isbun-id-*"/>
					<input type="hidden" class="dataline" value="<venda_invtref>" name="ivref-id-*"/>
					<input type="hidden" class="normal" value="process" name="mode"/>
					<input type="hidden" class="normal" value="<venda_oiohnbr>" name="ohrfnbr"/>
					<input type="hidden" class="dataline" value="<venda_oiabnbr>" name="oiabnbr-id-*"/>
					<input type="hidden" class="normal" value="<venda_oibun>" name="oibun"/>
					<input type="hidden" class="normal" value="<venda_oiclnbr>" name="oiclnbr"/>
					<input type="hidden" class="dataline" value="<venda_oiclnbr>" name="oiclnbr-id-*"/>
					<input type="hidden" class="dataline" value="<venda_oiitype>" name="oiitype-id-*"/>
					<input type="hidden" class="dataline" value="<venda_invtname>" name="oiivname-id-*"/>
					<input type="hidden" class="normal" value="<venda_invtref>-<venda_invtatrsell>" name="oilist"/>
					<input type="hidden" class="normal" value="<venda_oiqty>" name="oioqty"/>
					<input type="hidden" class="normal" value="<venda_invtref>" name="oiord"/>
					<input type="hidden" class="normal" value="<venda_oirfnbr>" name="numberstart"/>
					<input type="hidden" class="normal" value="<venda_oiqty>" name="quantity"/>
					<input type="hidden" class="dataline" value="<venda_invtatrsell>" name="oisymsell-id-*"/>
					<input type="hidden" class="dataline" value="<venda_oiqty>" name="qty-id-*"/>
					<input type="hidden" class="dataline" value="<venda_oiqty>" name="setqty-id-*"/>
					<input type="hidden" class="normal" value="login" name="step"/>
					<input type="hidden" class="normal" value="1" name="trrfext"/>
					<input type="hidden" class="normal" value="<venda_oiusnbr>" name="trrfnbr"/>
				</div>
			</p>
			<div class="small-12 columns nopad">
				<span class="prod-price"><venda_currsym><venda_invtsell><venda_block label=10,oiqty&gt;1>&nbsp;<venda_text id=desktop.info.each></venda_block label=10></span>
			</div>
			<div class="small-12 columns nopad remove">
				<a href="#" class="js-removeItem tiny button secondary" data-trrfnbr="<venda_oiusnbr>" data-oiord="<venda_ref>" data-ohrfnbr="<venda_oiohnbr>" data-trackEvent="Shopping" data-role="button" data-line="<venda_lineid>" data-wizard="shopcart"><venda_text id=desktop.button.remove></a>
			</div>
		</div>
	</div>
</venda_block label=119>

<venda_block label=229,invtref=giftcert>
	<venda_tpcomment><!-- giftcert --></venda_tpcomment>
	<div class="prod-image small-7 large-7 columns">
		<venda_block label=412,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=notnull>
		<a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><venda_media rec=invt,type=movie-swf-pict,key=<venda_setting type=ebiz,name=setminicartpopupimagekey>></a>
		</venda_block label=412>
		<venda_block label=422,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=null>
		<a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setminicartpopupimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>"></a>
		</venda_block label=422>
	</div>
	<div class="prod-details small-17 large-17 columns">
		<span class="prod-name"><a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><venda_invtname></a></span>
		<span class="prod-quantity"><br><venda_text id=desktop.info.qty>:&nbsp;<venda_oiqty></span>
		<span class="prod-price"><br><venda_currsym><venda_oiextprice></span>
	</div>
</venda_block label=229>
</venda_block label=45>
<venda_block label=46,invtpublish!=1>
<venda_tpcomment><!-- unpublished --></venda_tpcomment>

	<venda_block label=43,invtref!=giftcert>
	<div class="prod-image small-7 columns">
		<venda_block label=41,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=notnull>
		<venda_media rec=invt,type=movie-swf-pict,key=<venda_setting type=ebiz,name=setminicartpopupimagekey>>
		</venda_block label=41>
		<venda_block label=42,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=null>
		<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setminicartpopupimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>">
		</venda_block label=42>
	</div>
	</venda_block label=43>
	<div class="prod-details small-17 columns">
		<span class="prod-name"><venda_invtname></span>
		<p class="prod-unpublished"><venda_text id=desktop.info.not_available></p>
	</div>
</venda_block label=46>
</li>
</venda_detblock_item>

<ul id="minicart_products"><venda_detail_item></ul>