<venda_detblock>
	<div class="large-7 push-1 columns js-store">
		<h3><a href="<venda_dispview stry=<venda_stryref1>>"><venda_stryname1></a></h3>
		<ul>
			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<venda_block label=20,stxtadd11=notnull><li><span itemprop="streetAddress"><venda_stxtadd11></li></venda_block label=20>
				<venda_block label=21,stxtadd21=notnull><li><span itemprop="addressLocality"><venda_stxtadd21></li></venda_block label=21>
				<venda_block label=22,stxtadd31=notnull><li><span itemprop="addressRegion"><venda_stxtadd31></li></venda_block label=22>
				<venda_block label=23,stxtadd41=notnull><li><span itemprop="postalCode"><venda_stxtadd41></li></venda_block label=23>
				<venda_block label=24,stxtadd51=notnull><li><venda_stxtadd51></li></venda_block label=24>
			</span>
			<venda_block label=25,stxtphone1=notnull><li><br><h4><venda_text id=desktop.info.phone_number></h4><span itemprop="telephone"><venda_stxtphone1></span></li></venda_block label=25>

		</ul>

		<div class="js-linkstore"><a class="button" href="<venda_dispview stry=<venda_stryref1>>"><venda_text id=desktop.button.store_details></a></div>
	</div>
</venda_detblock>

<div>
	<h1><venda_scatname></h1>
	<div>
		<div class="row">
			<venda_detail>
		</div>
	</div>
</div>