<venda_tpcomment><!-- tag values used for applying promotional code --></venda_tpcomment>
<div id="tag-codehttp" style="display:none;"><venda_block label=33,mode=value,<venda_protocol>=http><venda_codehttp></venda_block label=33><venda_block label=34,mode=value,<venda_protocol>=https><venda_codehttps></venda_block label=34></div>

<header id="header" role="banner" class="row checkout-header">
    <div class="small-11 large-7 columns small-centered logo marg-bottom"><venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo-white.png" alt="<venda_ebizname>"><venda_block label=112,pageref!=home></a></venda_block label=112></div>
    <venda_tpcomment><!-- shown for tablet portrait and larger --></venda_tpcomment>
    <div class="small-24 large-17 columns nopad marg-bottom hide-for-small">
	<div class="checkout-list hide-for-small">

		<div class="callus hide-for-medium left"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/call_us.png" width="370" border="0"></div>
		<div class="home"> <venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><i class="icon-home icon-5x"></i><venda_block label=112,pageref!=home></a></venda_block label=112></div>
		<div class="helpbtn"> <a href="<venda_dispview pcat=cloggs_helpdesk>" class="js-doDialog" data-layout="staticpopup" target="_blank"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/help_info.png" border="0"></a></div>
		<div class="verisign"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/verisign_logo-checkout.png" border="0"></div>
		<div class="last pcilogo"><a href="http://www.venda.com/pci-compliance-certificate?referer=<venda_serveradd>" rel="popup console 590 660" target="_blank" title="<venda_text id=pcilogotitle>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/pci_logo-checkout.png" alt="<venda_text id=pcilogoalt>"  /></a></div>


	</div>
    </div>
	<div class="verisign show-for-small"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/verisign_logo-checkout.png" border="0"></div>
</header>
<div class="marg-topbottom"><venda_inctemplate name=checkoutStepIndicators,type=mainIncludes></div>