<div class="myaccount-nav-inner thickmarg-top">
<div class="panel">
    <i class="icon-user"></i> <a href="<venda_codehttps>?ex=co_wizr-myaccount&bsref=<venda_bsref>">My Account</a>
</div>

<div class="box">
    <div class="box-header"><h4><venda_text id=desktop.heading.order_history></h4></div>
    <div class="box-body">
        <ul>
            <li><a href="<venda_codehttps>?ex=co_wizr-myaccount&bsref=<venda_bsref>&log=22&step=orderhistory"><venda_text id=desktop.button.view_order_history></a></li>
        </ul>
    </div>
</div>

<div class="box">
    <div class="box-header"><h4><venda_text id=desktop.heading.account_details></h4></div>
    <div class="box-body">
        <ul>
            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>"><venda_text id=desktop.button.edit_email_password></a></li>
            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,addr=change>"><venda_text id=desktop.button.edit_billing_details></a></li>
            <!--li>< a href="< venda_codehttps>?ex=tl_user-myform&bsref=< venda_bsref >&layout=myaccount&param1=profile"><venda_text id=desktop.button.edit_profile></a ></li-->
            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,comm=change>"><venda_text id=desktop.button.edit_communication_options></a></li>
            <li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&param1=storecredit"><venda_text id=desktop.button.view_remaining_store_credit></a></li>
            <li><a href="<venda_codehttps>?ex=co_wizr-myaccount&log=22&step=addressbook&bsref=<venda_bsref>"><venda_text id=desktop.button.view_address_book></a></li>
        </ul>
    </div>
</div>

<venda_tpcomment><!--
<div class="box">
    <div class="box-header"><h4><venda_text id=desktop.heading.refer_a_friend></h4></div>
    <div class="box-body">
            <ul>
                <li><a href="<venda_codehttps>?ex=co_wizr-referafriend&bsref=<venda_bsref>&layout=myaccount">Refer a friend</a></li>
                <li><a href="<venda_codehttp>?ex=co_disp-refer&bsref=<venda_bsref>&page=referlist&layout=myaccount">View Referred Friends</a></li>
                <li><a href="<venda_dispview page=terms>" class="js-doDialog" rel="550,450,terms" target="_blank">View Terms & Conditions</a></li>
            </ul>
    </div>
</div>
--></venda_tpcomment>

<div class="box">
    <div class="box-header"><h4><venda_text id=desktop.info.help_1></h4></div>
    <div class="box-body">
        <ul>
            <li><venda_text id=desktop.info.by_email>: </span><a href="mailto:<venda_setting type=ebiz,name=email>"><venda_setting type=ebiz,name=email></a></li>
            <li><venda_text id=desktop.info.by_phone>: </span><venda_setting type=ebiz,name=phone></li>
        </ul>
    </div>
</div>
</div>