<!-- start instore bar -->
<venda_block label=100,usgrref=instore>	
<venda_block label=101,workflow!=instore>	
	<venda_inctemplate name=instorebar,type=mainIncludes>
</venda_block label=101>	
<div id="tag-usgrref" style="display:none;"><venda_usgrref></div>
</venda_block label=100>
<!-- end instore bar -->
<venda_block label=39,mode=value,<venda_islive>!=1>
<!-- start demo bar -->
<div class="row notices" id="demo">
    <div class="large-24 columns">
        <div class="alert-box alert radius">
            <venda_text id=desktop.info.demo_warning>
            <a class="close" href="">&times;</a>
        </div>
    </div>
</div>
<!-- end demo bar -->
</venda_block label=39>