<link rel="shortcut icon" href="/favicon.ico?v=3" type="image/x-icon">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/normalize.css?v=5">
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/app.css?v=5">
<!--[if IE 7]> <link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/ie7.css?v=5"> <![endif]-->
<!--[if IE 8]> <link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/ie8.css?v=5"> <![endif]-->
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/font-awesome.min.css">
