<div class="large-24 columns">
<div class="instorefooter">
    <div class="instorefooter-row-one">
	<ul class="large-block-grid-5 small-block-grid-2 text-center pad">  		  	 
		 <li><a href="<venda_dispview page=terms>" class="js-doDialog" target="_blank">Terms & Conditions</a></li> 	  	  
		 <li><a href="<venda_dispview page=faqs>" class="js-doDialog" target="_blank">FAQs</a></li>  	  	 
		 <li><a href="<venda_dispview pcat=help>" data-layout='staticpopup' class="js-doDialog" target="_blank">Help</a></li>  		  	  	  
		 <li><a href="<venda_dispview page=securityandprivacy>" class="js-doDialog" target="_blank">Security Policy</a></li>  	  	  
		 <li><a href="<venda_dispview page=securityandprivacy>" class="js-doDialog" target="_blank">Privacy Policy</a></li>  	  
     </ul>  
    </div>
    <div class="instorefooter-row-two pad-top large-23 columns large-centered">
        <div class="large-12 small-12 columns nopad">   
		<div class="thinpad-top"> <p class="copyright pad-side"><span><venda_text id=desktop.info.copyright> </span>&copy; <venda_dateformat date=now,format=yyyy><span> <venda_ebizname></span></p></div>
        </div>
        <div class="large-12 text-left small-12 columns">
            <venda_inctemplate name=vendaLogo,type=widgets>
        </div>
    </div>
</div>
</div>

<div id="vModal" class="reveal-modal xlarge"><div class="js-modalContent"></div><a class="close-reveal-modal">&#215;</a></div>