<venda_tpcomment><!-- start: multibuy --></venda_tpcomment>
   <venda_block label=340,invtsell2=notnull>
	<h3><venda_text id=desktop.heading.multibuy></h3>
	<p><venda_text id=desktop.info.buy><venda_invtstartqty2><venda_block label=52,invtsell3=null>+</venda_block label=52> <venda_invtname> <venda_text id=desktop.info.multibuy_for> <strong><venda_currsym><venda_invtsell2></strong> <venda_text id=desktop.info.multibuy_each></p>
	<venda_block label=341,invtsell3=notnull>
	<p><venda_text id=desktop.info.buy><venda_invtstartqty3><venda_block label=53,invtsell4=null>+</venda_block label=53> <venda_invtname> <venda_text id=desktop.info.multibuy_for> <strong><venda_currsym><venda_invtsell3></strong> <venda_text id=desktop.info.multibuy_each></p>
	</venda_block label=341>
	<venda_block label=342,invtsell4=notnull>
	<p><venda_text id=desktop.info.buy><venda_invtstartqty4><venda_block label=54,invtsell5=null>+</venda_block label=54> <venda_invtname> <venda_text id=desktop.info.multibuy_for> <strong><venda_currsym><venda_invtsell4></strong> <venda_text id=desktop.info.multibuy_each></p>
	</venda_block label=342>
	<venda_block label=343,invtsell5=notnull>
	<p><venda_text id=desktop.info.buy><venda_invtstartqty5><venda_block label=55,invtsell6=null>+</venda_block label=55> <venda_invtname> <venda_text id=desktop.info.multibuy_for> <strong><venda_currsym><venda_invtsell5></strong> <venda_text id=desktop.info.multibuy_each></p>
	</venda_block label=343>
	<venda_block label=344,invtsell6=notnull>
	<p><venda_text id=desktop.info.buy><venda_invtstartqty6>+ <venda_invtname> <venda_text id=desktop.info.multibuy_for> <strong><venda_currsym><venda_invtsell6></strong> <venda_text id=desktop.info.multibuy_each></p>
	</venda_block label=344>
  </venda_block label=340>
<venda_tpcomment><!-- end: multibuy --></venda_tpcomment>