<script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> 

<script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/9d1365e4-45d9-4d54-a0e7-7cd955cf1dee/mstag.js"></script> 

<script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"2447960",type:"1",revenue:"<venda_tracking type=order,definition=ordertotal,exvat=1,exship=1>",actionid:"181000"})</script> 

<noscript> <iframe src="//flex.msn.com/mstag/tag/9d1365e4-45d9-4d54-a0e7-7cd955cf1dee/analytics.html?dedup=1&domainId=2447960&type=1&revenue=&actionid=181000" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> </noscript>