<venda_detblock>
<venda_inventory ref=<venda_invtref1>,temp=related>
</venda_detblock>

<venda_block label=440,reltot!=0>
<div id="relatedbasket" class=" js-productSlider">
	<ul id="relatedSlider" class="slider js-slider" data-display="4" data-direction="horizontal" data-slidenum="3" data-duration="0.5"><venda_detail></ul>
    <div class="morebutton small-18" style="display:none;"><a href="#" class="secondary button postfix"><i class="icon-expand_icon icon-small"></i>  <span>View More Best Buys</span>  <i class="icon-expand_icon icon-small"></i></a></div>
</div>
</venda_block label=440>