<venda_detblock>
    <li id="nav<venda_icatref1>" class="nav-<venda_icatref1>">
        <a href="<venda_dispview icat=<venda_icatref1>>" id="mm_sub<venda_icatref1>" class="mm-sub<venda_icatref1>"><venda_icatname1></a>
    </li>

</venda_detblock>

<venda_block label=50,cattot!=>
<div id="branddirectory">
<div class="box box-section nomarg">
    <div class="box-header text-center"><h4 class="js-slidetoggle" data-slidetoggle="js-slidetoggle-brand" data-slidetoggle-icon="icon-minus">BRAND DIRECTORY <i class="icon-plus icon-small"></i></h4></div>
</div>
<div class="pad-side js-slidetoggle-brand" style="display:none;">
    <ul>
    <venda_detail>
    </ul>
</div>
</div>
</venda_block label=50>