<!-- Start VE Interactive tracking -->
<!--<script src="//config1.veinteractive.com/tags/15D78ED2/87F0/41C3/B2F8/2F8461F9BF9E/tag.js" type="text/javascript" async></script>!-->


<venda_tpcomment>
<!---------------------->
<!--! ORDER RECEIPT  -->
<!---------------------->
</venda_tpcomment>
<venda_tpcomment>
<!--
<venda_block label=receipt,mode=value,<venda_tpxt mode=get,name=curstep>=step5>
	<img src="//drs2.veinteractive.com/DataReceiverService.asmx/Pixel?journeycode=15D78ED2-87F0-41C3-B2F8-2F8461F9BF9E" width="1" height="1"/>
</venda_block label=receipt> -->
<!-- End VE Interactive tracking -->
</venda_tpcomment>