<venda_detblock>
<venda_block label=432,icxtdisablecategory1!=1>
 <li id="nav<venda_icatref1>" class="nav-<venda_icatref1>">
        <a href="<venda_dispview icat=<venda_icatref1>>" id="mm_sub<venda_icatref1>" class="mm-sub<venda_icatref1>"><venda_icatname1></a>
     <venda_category rec=icat,ref=<venda_icatref1>,temp=catnavSubcategories,incattree=1,itemsperpage=100>
 </li>
</venda_block label=432>
</venda_detblock>

<venda_block label=50,cattot!=>
<div class="box">
<div class="box-header hide-for-small"><h4 class="cat-name"><venda_icatname></h4></div>
<div class="box-header js-togglebox show-for-small" data-toggle="js-togglebox-brandnav" data-toggle-icon="icon-minus"><h4 class="cat-name"><i class="icon-plus icon-2x"></i> <venda_icatname></h4></div>
<ul id="categoryNavigation" class="box-body js-togglebox-brandnav hide-for-small">
<venda_detail>
</ul>
</div>
</venda_block label=50>