<venda_tpcomment><!-- add refinement --></venda_tpcomment>
<venda_detblock_facet_result>
  <venda_block label=results,count!=0>

      <div class="search-facet js-termtext<venda_block label=558,chosen!=0> search-chosen-facet js-chosen</venda_block label=558><venda_block label=559,count=0> search-zerocount</venda_block label=559>"
      data-field="<venda_field>"
      data-facet="<venda_facet>"
      data-url="<venda_faceturl>"
      >
        <venda_block label=556,chosen=0,count!=0>
          <a href="<venda_faceturl>" class="js-updatesearch">
        </venda_block label=556>
        <span class="js-facet">
          <venda_block label=333,field=price><venda_currsym></venda_block label=333>
          <venda_block label=365,facetname=null><venda_facet></venda_block label=365>
          <venda_block label=366,facetname=notnull><venda_facetname></venda_block label=366>
          <span class="search-count">(<venda_count>)</span>
        </span>
        <venda_block label=557,chosen=0,count!=0></a></venda_block label=557>
      </div>

    <venda_tpcomment><!-- sub-templates available in this detblock: refineCheckbox, refineImage --></venda_tpcomment>
  </venda_block label=results>
</venda_detblock_facet_result>

<style> div.box.Gender { display: none; } </style>

<venda_detblock_facets>
  <venda_block label=resultsnotcatref,totalcount!=0,field!=categories,field!=dailysalesrank,field!=usersalesrank>
  <div class="box <venda_dispfield>">
    <div id="<venda_field>" class="box-header js-collateheading">
    <h5 class="js-togglebox" data-toggle="js-<venda_field>results" data-toggle-icon="icon-minus"><venda_dispfield> <i class="icon-plus icon-small show-for-small"></i></h5>
    </div>
    <div id="<venda_field>results" class="box-body search-collate-facet search-<venda_field>-box js-collatecontent js-<venda_field>results hide-for-small">
      <venda_block label=default,field!=price>
        <div id="search-<venda_field>-collateresult" class="search-collatedresult js-showviewall search-<venda_field>-collateresult js-multirefine js-refine-<venda_field> search-view-scroll">
    <venda_detail_facet_result  alphasort=pdxtstyle,alphasort=brand:pdxtgender,pdxtseason,pdxtcolour,manualsort=atrattrvalue1~1 uk:1.5 uk:2 uk:2.5 uk:3 uk:3.5 uk:4 uk:4.5 uk:5 uk:5.5 uk:6 uk:6.5 uk:7 uk:7.5 uk:8 uk:8.5 uk:9 uk:9.5 uk:10 uk:10.5 uk:11 uk:11.5 uk:12 uk:12.5 uk:13 uk:13.5 uk:14 uk:14.5 uk:15 uk:35 eu:36 eu:37 eu:38 eu:39 eu:40 eu:41 eu:42 eu:43 eu:44 eu:45 eu:46 eu:47 eu:1 kid uk:2 kid uk:3 kid uk:4 kid uk:5 kid uk:6 kid uk:7 kid uk:8 kid uk:9 kid uk:10 kid uk:11 kid uk:12 kid uk:13 kid uk:28 kid eu:29 kid eu:30 kid eu:31 kid eu:32 kid eu:33 kid eu:34 kid eu:35 kid eu>     
          <p class="js-toggleviewall" style="display: none;">
            <a href="#">
              <span class="js-viewmorerefinements"><venda_text id=desktop.button.viewall></span>
              <span class="js-viewlessrefinements" style="display: none;"><venda_text id=desktop.button.viewless></span>
            </a>
          </p>
        </div>
      </venda_block label=default>

      <venda_block label=rangeslider,field=price>
        <venda_inctemplate type=search/refineList,name=refineRangeSlider>
      </venda_block label=rangeslider>

      <venda_tpcomment><!-- sub-templates available in this detblock: refineRangeSlider, refineFilter, refineLimited --></venda_tpcomment>
    </div>
  </div>
  </venda_block label=resultsnotcatref>
</venda_detblock_facets>

<venda_tpcomment><!-- remove refinement --></venda_tpcomment>
<venda_detblock_searched_fields>
  <venda_block label=331,facetref!=*,field!=categories,field!=dailysalesrank,field!=usersalesrank>
    <div id="<venda_field><venda_facetref>" class="row collapse js-refine-list search-refine-list">
      <div class="small-19 columns">
        <span class="search-refine-text"><venda_dispfield>:</span>
        <a href="<venda_searchurlremove>" rel="<venda_field>=<venda_facetref>" id="remove<venda_field><venda_facetref>" class="search-refine-link js-removesearch"><venda_block label=332,field=price><venda_currsym></venda_block label=332><venda_block label=265,facetname=null><venda_facetref></venda_block label=265><venda_block label=266,facetname=notnull><venda_facetname></venda_block label=266></a>
      </div>
      <div class="small-5 columns text-right">
        <a href="<venda_searchurlremove>" class="js-removesearch search-remove-field" rel="<venda_field>=<venda_facetref>"><i class="icon-close icon-2x"></i></a>
      </div>
      <!-- <a href="<venda_searchurlremove>" rel="<venda_field>=<venda_facetref>" class="search-refine-remove js-removesearch">(<venda_text id=desktop.button.remove>)</a> -->
    </div>
  </venda_block label=331>
  <venda_block label=1671,field=q>
    <venda_tpcomment><!-- stores current keyword value in tpxt:activekeyword --></venda_tpcomment><venda_tpxt mode=set,name=activekeyword,value=<venda_facetref>>
  </venda_block label=1671>
  <venda_block label=1672,field!=>
    <venda_tpxt mode=set,name=active<venda_field>,value=<venda_facetref>>
  </venda_block label=1672>
  <venda_block label=1670,field=categories>
    <venda_tpcomment><!-- stores pcatid or cat value in tpxt:activecategory --></venda_tpcomment><venda_tpxt mode=set,name=activecategory,value=<venda_facetref>>
  </venda_block label=1670>
  <venda_block label=1500,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
    <venda_tpxt mode=set,name=comparecatref,value=allcategory>
  </venda_block label=1500>
</venda_detblock_searched_fields>

<div id="term" class="box" style="display:none;">
  <div class="box-body">
    <h5><venda_text id=desktop.info.searchby></h5>
    <venda_detail_searched_fields>
  </div>
</div>

<venda_block label=845,totalresults!=0>
  <div id="collate" class="search-collate">
    <h5 class="search-collate-header"><venda_text id=desktop.info.refineby></h5>
    <venda_detail_facets>
  </div>
</venda_block label=845>

<venda_tpcomment><!-- Tags for JS: text id values used by viewall toggle --></venda_tpcomment>
<div id="tag-showviewall" style="display:none;"><venda_setting type=ebiz,name=showrefineviewall></div>
<div id="tag-viewallcount" style="display:none;"><venda_block label=15,mode=value,<venda_setting type=ebiz,name=viewallcount>=null>8</venda_block label=15><venda_block label=16,mode=value,<venda_setting type=ebiz,name=viewallcount>!=null><venda_setting type=ebiz,name=viewallcount></venda_block label=16></div>
<div id="tag-viewalllink" style="display:none;"><p><a class="search-toggle-viewall" href="#"><venda_text id=desktop.button.viewall></a></p></div>
<div id="tag-viewlesstext" style="display:none;"><venda_text id=desktop.button.viewless></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>