<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="<venda_block label=10,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=10><venda_block label=11,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=11>" class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="<venda_block label=20,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=20><venda_block label=21,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=21>" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="<venda_block label=30,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=30><venda_block label=31,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=31>" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<venda_block label=40,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=40><venda_block label=41,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=41>" class="no-js"> <!--<![endif]-->
<!--[if gte IE 9]><style type="text/css">.gradient {filter: none;}</style><![endif]-->
<head>
<venda_inctemplate name=metatags,type=mainIncludes>
<venda_inctemplate name=title,type=mainIncludes>

<venda_inctemplate name=jsHead,type=mainIncludes>

<venda_inctemplate name=css,type=mainIncludes>
<venda_inctemplate name=head,type=tracking/shared>
</head>
<body id="<venda_rtype>_<venda_ref>">
<venda_inctemplate name=bodyTop,type=tracking/shared>
<venda_inctemplate name=admin,type=mainIncludes>
<venda_inctemplate name=nojavascript,type=mainIncludes>
<venda_inctemplate name=demo,type=mainIncludes>
<div class="wrapper">
    <a href="#skiptocontent" class="skiptocontent"><venda_text id=desktop.button.skip_to_content></a>
    <header id="header" role="banner">
        <venda_inctemplate name=header,type=mainIncludes>
    </header>
    <nav class="nav row collapse" id="nav" role="navigation">
        <venda_inctemplate name=topNavigation,type=mainIncludes>
    </nav>
    <div class="row">
        <section id="content" role="main" class="large-24 columns">
            <a name="skiptocontent" id="skiptocontent"></a>
            <venda_content>
            <p><venda_text id=desktop.info.page_not_found_1></p>
			<p><venda_text id=desktop.info.page_not_found_2></p>
        </section><!-- end content section -->
    </div>
    <footer id="footer" role="contentinfo" class="row">
        <venda_inctemplate name=footer,type=mainIncludes>
    </footer>
</div><!-- end wrapper -->

<!-- validation defs -->
<venda_inctemplate name=validation,type=includes>
<venda_inctemplate name=js,type=mainIncludes>
<venda_tpxt mode=set,name=titlenorec,value=<venda_text id=desktop.heading.not_found>>
<venda_inctemplate name=bodyBottom,type=tracking/shared>
</body>
</html>
