<script type="text/javascript">

	Venda.Attributes.StoreImageSwaps({
		"param": "",
		"images": {
			imgS: ["<venda_media rec=invt,type=pict,key=rxsmall,img=no>","<venda_media rec=invt,type=pict,key=rxsalt1,img=no>","<venda_media rec=invt,type=pict,key=rxsalt2,img=no>","<venda_media rec=invt,type=pict,key=rxsalt3,img=no>","<venda_media rec=invt,type=pict,key=rxsalt4,img=no>","<venda_media rec=invt,type=pict,key=rxsalt5,img=no>","<venda_media rec=invt,type=pict,key=rxsalt6,img=no>"],
			imgM: ["<venda_media rec=invt,type=pict,key=rmedium,img=no>","<venda_media rec=invt,type=pict,key=rmalt1,img=no>","<venda_media rec=invt,type=pict,key=rmalt2,img=no>","<venda_media rec=invt,type=pict,key=rmalt3,img=no>","<venda_media rec=invt,type=pict,key=rmalt4,img=no>","<venda_media rec=invt,type=pict,key=rmalt5,img=no>","<venda_media rec=invt,type=pict,key=rmalt6,img=no>"],
			imgL: ["<venda_media rec=invt,type=pict,key=rlarge,img=no>","<venda_media rec=invt,type=pict,key=rlalt1,img=no>","<venda_media rec=invt,type=pict,key=rlalt2,img=no>","<venda_media rec=invt,type=pict,key=rlalt3,img=no>","<venda_media rec=invt,type=pict,key=rlalt4,img=no>","<venda_media rec=invt,type=pict,key=rlalt5,img=no>","<venda_media rec=invt,type=pict,key=rlalt6,img=no>"]
		},
        "noimages": {
            imgS: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif",
            imgM: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif",
            imgL: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_large.gif"
        }
	});
</script>