<venda_tpcomment><!-- Use this format "Items: 1" for items if set 'true'
Use this format "1 Item" for items if set 'false'--></venda_tpcomment>
<div id="tag-itemBD" style="display:none;"><venda_text id=desktop.info.item></div>
<div id="tag-itemsBD" style="display:none;"><venda_text id=desktop.info.items></div>

<div class="large-18 columns minicart js-minicart hide-for-small nopad">
    <div id="minicart-body" class="minicart-body">
        <ul>
            <li id="showcart" class="pad-side minicart-header">
               <i class="ico-header_basket"></i> <h3 class="showcart show-for-large-up" data-trackEvent="Shopping"><span class="minicart-header-text"><venda_text id=desktop.heading.minicart></span></h3>
            </li>
        <li>
            <span class="minicart-items"><a href="#" id="minicart_items"><span id="js-updateItems" class="js-updateItems"><venda_cartitemtotal></span> <span class="js-updateItemsText"><venda_block label=19,cartitemtotal=1><venda_text id=desktop.info.item></venda_block label=19><venda_block label=20,cartitemtotal!=1><venda_text id=desktop.info.items></venda_block label=20></span></a></span>
        </li>
        <li>
            <span class="show-for-desktop"> - </span><span class="minicart-total show-for-desktop"><a href="#" id="minicart_total"><span id="js-updateTotal" class="js-updateTotal"><venda_total></span></a></span>
        </li>
        </ul>
    </div>
</div>

<div class="large-6 columns right">
<img class="verisign" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/verisign.png">
</div>