<venda_detblock_minify_js>

<venda_tpcomment><!-- required --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cookiejar.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Platform.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MinicartDetail.js"></script>

<venda_tpcomment><!-- product detail --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/CreateTab.js"></script>

<venda_tpcomment><!-- search --></venda_tpcomment>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.history.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.viewport.mini.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jsuri-1.1.1.min.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Search.js'></script>

<venda_tpcomment><!-- search, productlist, catergorylist --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/EqualHeight.js"></script>
<!--script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/ViewStyle.js'></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Compare.js"></script-->
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/QuickBuy.js"></script>

<venda_tpcomment><!-- social --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/GoogleSocialAnalytics.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Social.js"></script>

<venda_tpcomment><!-- sitewide and not always required --></venda_tpcomment>
<!--script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/VendaIM.js"></script-->
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/jqSlider.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RecentlyViewedItems.js"></script>
<!--script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RecentSearchItems.js"></script-->
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/highlight.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MegaMenu.js"></script>
<!--script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Touch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RegionLangSwitch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Pennies.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/swfobject.js"></script-->

<venda_tpcomment><!-- Used to keep sitewide functions --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Ebiz.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.easyListSplitter.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Offcanvas.js"></script>

<venda_tpcomment><!-- validation --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.validate.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Validate/jquery.validate.common.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Validate/jquery.validate.rules.site.js"></script>

<venda_tpcomment><!-- Used by workflow steps that are not using the isolated checkout layout e.g. shopcart, all of the register workflow --></venda_tpcomment>
<venda_block label=3,workflow=shopcart,workflow=register,operator=or>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Validate/jquery.validate.rules.checkout.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout.js"></script>
</venda_block label=3>

<venda_tpcomment><!-- foundation --></venda_tpcomment>
<venda_tpcomment><!-- ini script --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.alerts.js"></script>
<venda_tpcomment><!-- reveal --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.reveal.js"></script>
<venda_tpcomment><!-- orbit / hero slider --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.orbit.js"></script>
<venda_tpcomment><!-- Adds placeholder functions to forms --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.placeholder.js"></script>
<venda_tpcomment><!-- picturefill --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/matchmedia.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/picturefill.js"></script>

<venda_tpcomment><!-- Moment used for javascript date functions --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/moment.js"></script>
</venda_detblock_minify_js>

<venda_detail_minify_js>
<venda_tpcomment><!-- cloudzoom.js loaded on productdetail and search only. if for any reason its put back here, keep it out of the minification block as it breaks the minify script --></venda_tpcomment>

<script>
    jQuery(document).foundation();
    jQuery('input, textarea').placeholder();
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
</script>