<div class="large-24 columns checkoutfooter-links thinpad-side">
    <div class="row footer-row-one"><venda_page page=footerlinkscheckout></div>

    <div class="row pad-top">
        <div class="small-12 large-12 columns verisign">
            <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/verisign.gif" border="0">
        </div>
        <div class="pcilogo small-12 large-12 columns text-right"><venda_inctemplate name=pciLogo,type=widgets></div>
    </div>

    <div class="row footer-row-three">
        <div class="large-17 columns footer-col-one">
             <p class="copyright"><span><venda_text id=desktop.info.copyright> </span>&copy; 1999 - <venda_dateformat date=now,format=yyyy> <venda_ebizname>. <span> All rights reserved.</span></p>
        </div>
        <div class="large-5 columns footer-col-two">
            <venda_inctemplate name=vendaLogo,type=widgets>
        </div>
    </div>
</div>

<div id="vModal" class="reveal-modal xlarge"><div class="js-modalContent"></div><a class="close-reveal-modal">&#215;</a></div>