<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<title><venda_ebizname> <venda_text id=desktop.heading.email.account_locked></title>
<venda_inctemplate name=htmlEmailCss,type=emailIncludes>
</head>
</head>
<body style ="background: #e9e9e9 !important; font-family:Arial, Helvetica, Verdana, sans-serif !important; padding-top: 20px;">
	<div class="body-container" style="color: #454545 !important; padding-bottom: 20px;">
	<table class="emails-table-header" border="0" cellpadding="0" cellspacing="0" style="background:#ddd; width: 92%; padding: 10px; margin: 0 auto !important;">
		<tr>
			<td class="nor-col" style="font-family:Arial, Helvetica, Verdana, sans-serif; text-align: left !important;padding-left:10px !important;"><venda_inctemplate name=htmlEmailLogo,type=emailIncludes></td>
			<td class="force-col" valign="bottom" style="font-family:Arial, Helvetica, Verdana, sans-serif !important; text-align: right; vertical-align: bottom; color: #454545; position:relative !important; bottom: -15px !important;">
				<h1 style="font-size:16px; font-weight: bold;"><venda_text id=desktop.heading.email.account_locked></h1>
			</td>
		</tr>
	</table>
	<table class="emails-table-body" border="0" cellpadding="0" cellspacing="0" bgcolor="white" style="background:white;width: 92%;padding: 10px;text-align: left; margin: 0 auto;">
		<tr>
			<td valign="middle" style="font-family:Arial, Helvetica, Verdana, sans-serif !important; font-size: 16px !important;padding: 10px;">
				<venda_inctemplate name=htmlEmailHeader2,type=emailIncludes>
				<p style="font-size: 16px !important;"><venda_text id=desktop.info.account_locked_message_1> <a href="<venda_serveradd>?utm_source=account_locked&utm_medium=email&utm_campaign=order_emails"><venda_ebizname></a> <venda_text id=desktop.info.account_locked_message_2></p>
				<p style="font-size: 16px !important;"><venda_text id=desktop.info.email_address> <strong><venda_block label=1,usemail=notnull><venda_usemail></venda_block label=1><venda_block label=2,usemail=null,uslogin=notnull><venda_uslogin></venda_block label=2></strong></p>
				<p><venda_text id=desktop.info.account_locked_message_3> <a href="<venda_serveradd>/bin/venda?ex=co_wizr-register&bsref=<venda_ebizref>&step=passwordreminder&utm_source=account_locked&utm_medium=email&utm_campaign=order_emails"><venda_text id=desktop.info.password_reminder></a>. <venda_text id=desktop.info.account_locked_message_4></p>
				<p style="font-size: 16px !important;"><venda_text id=desktop.info.account_locked_message_5></p>
			    <venda_inctemplate name=htmlEmailFooter,type=emailIncludes>
			</td>
		</tr>
	</table>
    </div>
</body>
</html>
