<venda_detblock>
<venda_inventory ref=<venda_invtref1>,temp=featprods>
</venda_detblock>
<div class="row">
    <div class="large-24 columns">
        <div class="box box-section nomarg">
            <div class="box-header text-center"><h3><venda_text id=desktop.heading.featured_products> <venda_block label=brand,icatref=brdf><venda_ebizname></venda_block label=brand><venda_block label=notbrand,icatref!=brdf><venda_icatname></venda_block label=notbrand></h3></div>
        </div>
        <div id="featprodsHome" class="product-slider js-productSlider">
            <venda_block label=1,rectot&gt;0>
            <ul id="featprodsSlider" class="slider js-slider" data-display="5" data-direction="horizontal" data-slidenum="3" data-duration="0.5"><venda_detail></ul>
            <div class="morebutton small-18" style="display:none;"><a href="#" class="secondary button postfix"><i class="icon-expand_icon icon-small"></i>  <span>View More Best Buys</span>  <i class="icon-expand_icon icon-small"></i></a></div>
            </venda_block label=1>
        </div>
    </div>
</div>

