<venda_block label=221,pageref=myaccount>
<venda_tpcomment><!-- start: bottom tab, one wide column --></venda_tpcomment>
<div class="row">
	<div id="bottomtab" class="tabs large-18 columns">
		<div>
		<div class="tab-header js-tab-header">
			<ul class="tab-nav js-tab-nav">
				<li><a href="#contentTab1" title="<venda_text id=desktop.heading.related_products>"><venda_text id=desktop.heading.related_products></a></li>
			</ul>
		</div>
		<div class="tab-content js-tab-content">
			<div class="tab js-tab"><venda_invtrelated limit=4,threshold=2,template=related></div>
		</div>
		</div>
	</div>
</div>
<venda_tpcomment><!-- end: Tab bottom --></venda_tpcomment>
</venda_block label=221>
