.wrapper > .row, .row.content-search-body {
    background-color: transparent;
}
a:hover {
	text-decoration: none;
}
p{
	margin-bottom: 0.42857em;
}
.wrapper > footer.row {
	margin-top: 0;
}
.instore  {
	background: url(../../images/instore/bg_swatch.png) repeat ;
	padding: 0.71429em 0;
}
.instore  h1{
	text-align: center;
}
.instore .select-right{
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -21px;
}
.instoreStepIndicators {
	clear: both;
	overflow: hidden;
	text-transform: uppercase;
}
.instoreStepIndicators li {
	border-left: 1px solid #d4d4d4;
	color: #666;
	padding: 9px 0;
	text-align: center;
	float: left;
	width: 20%;
	background: #E0E0E0;
	background-image:-webkit-gradient(linear,left top,left bottom,from(  #FFFFFF  ),to(  #E0E0E0  ));
	background-image:-webkit-linear-gradient(  #FFFFFF, #E0E0E0  );
	background-image:   -moz-linear-gradient(  #FFFFFF , #E0E0E0  );
	background-image:    -ms-linear-gradient(  #FFFFFF , #E0E0E0  );
	background-image:     -o-linear-gradient(  #FFFFFF , #E0E0E0  );
	background-image:        linear-gradient(  #FFFFFF , #E0E0E0  );
}
.instoreStepIndicators li.backtohome,
.instoreStepIndicators li.basket {
	width:10%;
	/*background: #009670;
	background-image:-webkit-gradient(linear,left top,left bottom,from(  #666  ),to(  #333  ));
	background-image:-webkit-linear-gradient(  #666, #333  );
	background-image:   -moz-linear-gradient(  #666 , #333  );
	background-image:    -ms-linear-gradient(  #666 , #333  );
	background-image:     -o-linear-gradient(  #666 , #333  );
	background-image:        linear-gradient(  #666 , #333  );*/
	height: 45px;
}

.backtohome a {
	color: #666 !important;
}

.instoreStepIndicators li a{
	color: #fff;
}
.instoreStepIndicators li a:hover{
	text-decoration: none;
}
.instoreStepIndicators li.backtohome {
	border-left:none;
}

.instoreStepIndicators .instoreStep-active {
    background: #009670 none;
    color: #FFF;
    font-weight: bold;
}
.userInfo {
	border-bottom: 1px solid #fff;
	padding: 13px;
	margin-bottom: 30px;
}
.userresults {
	background: #D2D2D2 url(../../images/instore/bg_swatch_dark.png) repeat ;
}
.userresults .noresult {
	background: #FFFFFF;
}
.resultuser {
	background: #FFFFFF;
	cursor: pointer;
	overflow: hidden;
}
 .enterManually {
	margin: 12px 0;
	text-align: center;
}
.addresslookup label {
	display:none;
}
.addresslist li{
	margin-bottom: 5px;
	position: relative;
}
.addresslist .billing,
.addresslist .delivery {
	padding: 15px;
	background: #FFF;
}
.addresslist a,
.addresslist .defaultFlag{
	color: #333;
	font-weight: bold;
}
.addressbook-edit {
	position: absolute;
    right: 50%;
    top: 10px;
}
.currentStore,
.storelocatorresults  ul {
	background: #D2D2D2 url(../../images/instore/bg_swatch_dark.png) repeat ;
	padding: 20px;
	margin-bottom: 15px;
}
.dtsStorelocator ul li{
	background: #FFF;
	margin-bottom:3px;
	position: relative;
}
.ui-autocomplete li {
	border-bottom: 1px solid #DDD;
}
.dtsAddress .addressName {
	font-weight: bold;
}
.dtsAddress,
.paymentdetailSection {
	background: #fff;
}
.deliveryaddress .addressdetails {
    padding: 10px 13px;
}
.addressdetails p {
    	margin-bottom: 0.42857em;
}
.js-deliveryoptions li {
	border-bottom: 1px solid #ddd;
}
.orderitems table,
.orderitems table thead{
	background: none;
	border: none;
}
.orderitems table tbody{
	background: #fff;
}
.orderitems .priceeach,
.orderitems .totalprice {
	font-weight: bold;
}
.ordersummary th{
	font-weight: normal;
}
.js-payment-details .box{
	border: none;
}
.paymentDetailsEntry {
	display: none;
}
.instorefooter {
	border-top: 2px solid #BDBEC7;
}
.instorefooter-row-one img {
    display: none;
}
.instorefooter-row-two {
	border-top: 1px solid #D6D6D6;
	padding: 5px 0;
}
.copyright {
	border-right: 1px solid #D6D6D6;
	text-align: right;
}
.vendalogo {
	float: none !important;
	text-align: left;
}
.printPageIcon {
	color: #FF6600;
	font-weight: bold;
}
.giftwrap {
	background: #fff;
}
.giftwrap-header {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}
.box,
.box .box-header {
	background: #FFFFFF;
}
.uklist .large-18 {
	width: 100%;
}

/* Small display targeting */
@media only screen and (max-width: 767px) {
	.instoreStepIndicators li.instoreStep-active {
		width: 80%;
		display: inherit !important;
	}
	.instoreStepIndicators li.instoreStep {
		display: none;
	}
	.instorefooter-row-one li{
		text-align: left !important;
	}
}