<venda_detblock>
<cr><venda_invtref1>|<venda_invtmedfilename1 key=rmedium>|<venda_invtmedfilename1 key=rmalt1>|<venda_invtmedfilename1 key=rmalt2> | <venda_invtmedfilename1 key=rmalt3> | <venda_invtmedfilename1 key=rmalt4> | <venda_invtmedfilename1 key=rmalt5> | <venda_invtmedfilename1 key=rmalt6>| <venda_invtmedfilename1 key=rlat1> | <venda_invtmedfilename1 key=rlat2> | <venda_invtmedfilename1 key=rlat3> |<venda_invtmedfilename1 key=rlat4> | <venda_invtmedfilename1 key=rlat5> | <venda_invtmedfilename1 key=rlat6> |
</venda_detblock>
SKU|Medium Image|Med1 Image|Med2 Image|Med3 Image|Med4 Image|Med5 Image|Med6 Image| Large1 Image|Large2 Image|Large3 Image|Large4 Image|Large5 Image|Large6 Image|
<venda_detail>
