<venda_block label=homepage,pageref=home>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
    {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Home Page"}
    );
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Home+Page" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast tag -->
</venda_block label=homepage>

<venda_block label=womensshoes,icatref=womensshoes>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
    {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Womens Shoes"}
    );
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Womens+Shoes" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast tag -->
</venda_block label=womensshoes>

<venda_block label=menshoes,icatref=mensshoes>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
    {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Mens Shoes"}
    );
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Mens+Shoes" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast tag -->
</venda_block label=menshoes>

<venda_block label=kidsshoes,icatref=kids_shoes>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
    {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Kids Shoes"}
    );
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Kids+Shoes" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast tag -->
</venda_block label=kidsshoes>

<venda_block label=sale,icatref=shoes_sale>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
    {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Sale"}
    );
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Sale" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast tag -->
</venda_block label=sale>

<venda_block label=shopcart,mode=value,<venda_tpxt mode=get,name=trackingstep>=shopcart>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
    {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Shopping Basket"}
    );
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Shopping+Basket" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast Tag -->
</venda_block label=shopcart>

<script type="text/javascript">var cj = new CookieJar({expires: 3600 * 24 * 7, path: '/'});</script>
<venda_block label=loginregister,mode=value,<venda_tpxt mode=get,name=curstep>=step2>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    cj.put('custtype', 'new'); /* To track if this is a new user */
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push(
    {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Login Register Page"}
    );
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Login+Register+Page" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast Tag -->
</venda_block label=loginregister>

<venda_block label=confirmation,mode=value,<venda_tpxt mode=get,name=curstep>=step5>
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];
    var custtype = (typeof cj != 'undefined' ) ? cj.get('custtype') : 'returning';

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    if(custtype=='new') {
        _qevents.push(
            {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Conversion,_fp.channel.new,_fp.customer.new,_fp.pcat.shop",orderid:"<venda_tpxt mode=get,name=orderid>",revenue:"<venda_tpxt mode=get,name=ordertotal>"}
        );
        if (typeof cj != 'undefined' ) { cj.put('custtype', 'returning'); } /* Turn user type to returning user */
    } else {
        _qevents.push(
            {qacct:"p-Kfs4wVWyhfQHs",labels:"_fp.event.Conversion,_fp.channel.returning,_fp.customer.returning,_fp.pcat.shop",orderid:"<venda_tpxt mode=get,name=orderid>",revenue:"<venda_tpxt mode=get,name=ordertotal>"}
        );
    }
    </script>
    <noscript>
    <img src="//pixel.quantserve.com/pixel/p-Kfs4wVWyhfQHs.gif?labels=_fp.event.Conversion,_fp.channel.returning,_fp.customer.returning,_fp.pcat.shop&orderid=<venda_tpxt mode=get,name=orderid>&revenue=<venda_tpxt mode=get,name=ordertotal>" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
    </noscript>
    <!-- End Quantcast tag -->
</venda_block label=confirmation>
