<venda_detblock1>
<venda_block label=40,pkshipreq=1>
	<!-- start delivery details -->
	<br>
<table border="0" cellspacing="0" cellpadding="5" summary="Details for your <venda_ebizname> order" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#000;background-color:#EEE;" width="650" >
	<thead>
	<tr>
		<th colspan="2" style="text-align:left;background:#ccc;"><venda_text id=desktop.heading.delivery_details></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th width="30%" style="text-align:left;"><venda_text id=desktop.info.recipient>:</th>
		<td width="70%" ><span class="addrName"><venda_pktitle> <venda_pkfname> <venda_block label=75,pkmname=notnull><venda_pkmname> </venda_block label=75><venda_pklname></span></td>
	</tr>
	<tr>
		<th width="30%" style="text-align:left;"><venda_text id=desktop.info.delivery_address>:</th>
		<td width="70%" >
		<venda_block label=77,pkcompany=notnull><venda_pkcompany><br></venda_block label=77>
		<venda_pknum> <venda_pkaddr1><br>
		<venda_block label=72,pkaddr2=notnull><venda_pkaddr2><br></venda_block label=72>

		<!-- if country is US or US entities display this formatting -->
		<venda_block label=999,mode=value,<venda_pkcntry>=United States,<venda_pkcntry>=United States Non-48,<venda_pkcntry>=United States Armed Forces,operator=or>
		<venda_block label=184,pkcity=notnull><venda_pkcity>, </venda_block label=184>
		<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><br>
		</venda_block label=999>

		<!-- if country is NOT US or US entities display this formatting -->
		<venda_block label=9991,mode=value,<venda_pkcntry>!=United States,<venda_pkcntry>!=United States Non-48,<venda_pkcntry>!=United States Armed Forces,operator=and>
		<venda_block label=184,pkcity=notnull><venda_pkcity><br></venda_block label=184>
		<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><venda_block label=1234,pkstate=notnull,pkzipc=notnull,operator=or><br></venda_block label=1234>
		</venda_block label=9991>

		<venda_pkcntry>
		<venda_block label=76,pkarea=notnull><br><span class="addrPhone"><venda_pkarea> <venda_pkphone></span></venda_block label=76>
		</td>
	</tr>
	<venda_block label=41,pkshipmthd=notnull>
	<tr>
		<th width="30%" style="text-align:left;"><venda_text id=desktop.info.delivery_method></th>
		<td width="70%"  ><venda_pkshipmthd></td>
	</tr>
	</venda_block label=41>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=1,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=2,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=3,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=4,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=5,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=6,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=7,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=8,displayonly=1>
	</tbody>
	<!-- end delivery details -->
</table>
</venda_block label=40>
<br>
<table border="0" cellspacing="0" cellpadding="5" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#000;background-color:#EEE;" width="650">
<!-- start items loop -->
<thead>
<tr>
	<th scope="col" style="width:125px;background-color:#ccc;text-align:left;"><venda_text id=desktop.info.image></th>
	<th scope="col" style="width:120px;background-color:#ccc;text-align:left;"><venda_text id=desktop.info.name></th>
	<th scope="col" style="width:95px;background-color:#ccc;text-align:left;"><venda_text id=desktop.info.price_each></th>
	<th scope="col" style="width:40px;background-color:#ccc;text-align:left;"><venda_text id=desktop.info.qty></th>
	<th scope="col" style="width:100px;background-color:#ccc;text-align:left;"><venda_text id=desktop.info.total_price></th>
	<th scope="col" style="width:170px;background-color:#ccc;text-align:left;"><venda_text id=desktop.info.status></th>
</tr>
</thead>
<tbody>
<venda_detail2>
</tbody>
<!-- end items loop -->
</table>
</venda_detblock1>


<venda_detblock2>
<tr>
	<td class="image" style="text-align:left;">
		<a href="<venda_block label=20,invtatt1=notnull><venda_dispview invt=<venda_invtparef>></venda_block label=20><venda_block label=30,invtatt1=null><venda_dispview invt=<venda_invtref>></venda_block label=30>">
			<venda_block label=31,med-rxsmall=notnull><img src="<venda_ebizurl><venda_media rec=invt,type=movie-swf-pict,key=setxsmall,img=no,jump=no,medatr=yes>" alt="<venda_oiivname>"></venda_block label=31>
			<venda_block label=32,med-rxsmall=null><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></venda_block label=32>
		</a>
	</td>
	<td style="text-align:left;"><venda_oiivname><venda_block label=111,invtatt1=notnull> (<venda_invtatt1><venda_block label=112,invtatt2=notnull>, <venda_invtatt2></venda_block label=112>)</venda_block label=111><venda_block label=221,oigwref=notnull> (<venda_text id=desktop.info.giftwrapping_items_wrapped>)</venda_block label=221>
<venda_extflds exfldtype=orderitem,group=1,template=htmlEmailOixfieldsDisplay,type=emailIncludes,ref=<venda_invtref>,displayonly=1><venda_extflds exfldtype=orderitem,group=2,template=htmlEmailOixfieldsDisplay,type=emailIncludes,ref=<venda_invtref>,displayonly=1></td>
	<td style="text-align:left;"><venda_ohcursym><venda_oisub></td>
	<td style="text-align:left;"><venda_oiqty></td>
	<td style="text-align:left;"><venda_ohcursym><venda_oiextsub></td>
	<td style="text-align:left;">
	<venda_block label=10,oistatus=2><venda_text id=desktop.info.order_status_in_progress></venda_block label=10>
	<venda_block label=11,oistatus=3><venda_text id=desktop.info.order_status_released_for_delivery></venda_block label=11>
	<venda_block label=12,oistatus=4><venda_text id=desktop.info.order_status_backordered></venda_block label=12>
	<venda_block label=13,oistatus=5><venda_block label=114,num=notnull><venda_text id=desktop.info.tracking_num>: <venda_num> <venda_oicarrier> </venda_block label=114><venda_text id=desktop.info.order_status_delivered> <venda_stmp></venda_block label=13>
	<venda_block label=14,oistatus=6><venda_text id=desktop.info.order_status_returned> <venda_stmp></venda_block label=14>
	<venda_block label=15,oistatus=7><venda_text id=desktop.info.order_status_cancelled></venda_block label=15>
	<venda_block label=16,oistatus=8><venda_text id=desktop.info.rma_num>: <venda_num> <venda_text id=desktop.info.order_status_delivered> <venda_stmp></venda_block label=16>
	</td>
</tr>
<venda_block label=45,oiitype=3>
<tr>
	<td colspan="6" style="text-align:left;">
	<venda_text id=desktop.info.giftcert_sent_to><br>
	<venda_block label=880,gcexpires=notnull><venda_text id=desktop.info.expiry_date> <venda_gcexpires><br></venda_block label=880>
	<venda_text id=desktop.info.message>: <venda_oicmt>
	</td>
</tr>
</venda_block label=45>
</venda_detblock2>


<venda_detblock3>
<tr>
	<td width="70%" style="text-align:left;"><venda_ckname> (-<venda_ohcursym><venda_cktotal>)</td>
</tr>
</venda_detblock3>
