<venda_detblock>
    <li>
        <div class="row">
            <p class="large-12 columns">
                <span><venda_stryauthname1></span>
                <venda_block strydesc31=notnull><span> <venda_strydesc31></span></venda_block>
            </p>
            <p class="large-12 columns thinpad">
                <img class="right" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/rating<venda_strykey11>.gif" alt="<venda_text id=desktop.info.reviews_rating>">
            </p>
        </div>
        <p>&ldquo;<venda_strydesc11>&rdquo;</p>
        <venda_block strydesc21=notnull><p>&ldquo;<venda_strydesc21>&rdquo;</p></venda_block>
    </li>
</venda_detblock>

<venda_block rectot=null><p><venda_text id=desktop.info.product_reviews_1> <a href="<venda_dispview invt=<venda_scatref>>&temp=writereview" class="js-doDialog"><venda_text id=desktop.button.write_own_review></a></p></venda_block>

<venda_block rectot=notnull>
<div id="productreviews" class="productreviews">
    <div id="buttons" class="row thickpad-bottom">
        <div class="large-12 columns right text-right marg-bottom"><a href="<venda_dispview invt=<venda_scatref>>&temp=writereview" class="js-doDialog"><venda_text id=desktop.button.write_own_review></a></div>
    </div>
    <ul><venda_detail></ul>
</div>
</venda_block>

<venda_tpxt mode=set,name=track,value=productreviews>
