<style type="text/css" media="all">
#emailBody {margin:10px; color:#000; background:#fff; font:100% Arial, Helvetica, Verdana, sans-serif;}
#emailBody a {color:#000000; font-weight:bold;}
#emailBody thead {background:#ccc;}
#emailBody thead th {border-top:10px solid #fff;}
#emailBody tbody {background:#eee;}
#emailBody th, #emailBody td {text-align:left; padding:5px; font-size:100%; vertical-align:top;}
#emailBody #logo {border-bottom:1px solid #ddd; padding:0 0 10px 0; margin:0 0 10px 0;}
#emailBody #logo img{margin:0 10px 0px 0; vertical-align:middle;}
#emailBody #logo h1{ font-size:1.3em; margin:0; padding:0; display:inline;}
#emailBody .clear {clear:both; height:0; line-height:0; font-size:0;}
</style>