<venda_block label=45,invtpublish=1>
	<venda_block label=119,invtref!=giftcert>
	<div id="comp-image<venda_invtref>" class="prod-image js-prod-image">
		<a class="js-moredetail" href="<venda_dispview invt=<venda_invtref>>" id="<venda_invtref>" data-defaultImage="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif">
		    <venda_block label=4,med-rsmall=notnull>
		        <venda_media rec=invt,type=movie-swf-pict,key=rsmall>
		    </venda_block label=4>
		    <venda_block label=5,med-rsmall=null>
		        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>">
		    </venda_block label=5>
		</a>
		<venda_block label=510,invtavail&gt;0,invtatrinstock&gt;0,operator=or>
		<div class="label radius search-quicklink js-quicklink-box hide-for-small"><a href="<venda_dispview invt=<venda_invtref>>&temp=quickView&layout=noheaders" id="<venda_invtref>" class="js-quickBuyDetails"><venda_text id=desktop.button.quick_view></a></div>
		</venda_block label=510>
	</div>

	<div class="prod-details" id="details-<venda_invtref>">
	<div class="js-imgSource" style="display:none"><venda_block label=94,med-rmedium=notnull><venda_media rec=invt,type=movie-swf-pict,key=rmedium,img=no></venda_block label=94><venda_block label=95,med-rmedium=null><venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif</venda_block label=95></div>
	<h4 class="prod-name"><a class="js-moredetail" id="comp-name<venda_invtref>" href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h4>
	<div class="js-sku" style="display:none;"><venda_invtref></div>
	<venda_block label=850,pdxtswatch=1>
		<venda_mediagrid template=colourSwatch>
	</venda_block label=850>

			<div class="prod-pricedetails">
				<venda_inctemplate type=includes,name=priceFormat>
			</div>

			<div class="deliveryusp">
			<p>Free next day delivery</p>
			</div>

			<venda_tpcomment><!-- Release Date --></venda_tpcomment><venda_block label=50,invtatrtot&lt;1,invtpreorder=1><p class="prod-release"><venda_text id=desktop.info.release_date></p></venda_block label=50>

			<venda_block label=40,invtavail&lt;1,invtatrinstock&lt;1>
			<venda_tpcomment><!-- Out of Stock --></venda_tpcomment><p><span class="radius alert label">Email me</span></p>
			<venda_tpcomment><!-- ETA --></venda_tpcomment><venda_block label=167,etadyleft&gt;0><p><span class="radius secondary label"><venda_text id=desktop.info.eta_date></span></p></venda_block label=167>
			<venda_tpcomment><!-- EMWBIS <p><a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>"><venda_text id=desktop.button.email_when_in_stock></a></p> --></venda_tpcomment>
			</venda_block label=40>

			<venda_block label=51,invtavail&gt;0,invtatrinstock&gt;0,operator=or>
			<venda_tpcomment><!-- More Info --></venda_tpcomment><p class="prod-moreinfo"><a class="js-moreInfo small success button" href="<venda_dispview invt=<venda_invtref>>" title="<venda_text id=desktop.info.product_moreinfo_title>"><venda_text id=desktop.button.more_info> <i class="icon-double-angle-right"></i></a></p>
			</venda_block label=51>

			<!-- Feefo Reviews -->
			<venda_block label=feefoorv,feefooreviews=notnull>
				<div id="productreviews-feefolist">
					<img src="http://www.feefo.com/feefo/feefologo.jsp?logon=www.cloggs.co.uk&mode=product&vendorref=<venda_feefooreviews>&template=vs105x10p.png" />
				</div>
			</venda_block label=feefoorv>


			<venda_block label=30,invtavail&gt;0,invtatrtot&lt;1>
			<venda_tpcomment><!-- Add/Buy/Pre-order - In stock and non-attributes --></venda_tpcomment>
			<input type="hidden" name="ex" value="co_disp-shopc">
			<input type="hidden" name="bsref" value="<venda_bsref>">
			<input type="hidden" name="log" value="22">
			<input type="hidden" name="ivref" value="<venda_invtref>">
			<input type="hidden" name="buy" value="<venda_invtref>">
			<input type="hidden" name="mode" value="add">
			<input type="hidden" name="next" value="search"><venda_tpcomment><!--N.B. The next parameter is deprecated for search --></venda_tpcomment>
			<input type="hidden" name="curpage" value="search">
			<input type="hidden" name="layout" value="">
			<input type="hidden" name="curlayout" value="">
			<!--<div><label for="qty"><venda_text id=desktop.info.qty></label> <input name="qty" id="qty" type="text" size="3" maxlength="3" value="1"></div>-->

				<venda_block label=38,invtpreorder!=1>
				<venda_tpcomment><!-- Add to Basket --></venda_tpcomment><!--<input type="submit" id="addproduct<venda_invtref>" value="<venda_text id=desktop.button.addtobasket>">-->
				<venda_tpcomment><!-- Buy Now --></venda_tpcomment><!--<input type="submit" value="<venda_text id=desktop.button.buy_now>" onClick="document.form<venda_invtref>.ex.value='co_wizr-shopcart';">-->
				</venda_block label=38>
				<venda_tpcomment><!-- Pre-order - add to basket --></venda_tpcomment><venda_block label=39,invtpreorder=1><!--<input type="submit" value="<venda_text id=desktop.button.preorder>" class="button js-preorder">--></venda_block label=39>
				<venda_tpcomment><!-- For pre-order with buy now (go to basket page) <input type="button" value="<venda_text id=desktop.button.preorder>" class="button js-preorder" onClick="document.form<venda_invtref>.ex.value='co_wizr-shopcart';"> --></venda_tpcomment>

			</venda_block label=30>

			<venda_block label=10,invtatrtot&lt;1>
			<venda_tpcomment><!-- Was/Saving - non-attribute --></venda_tpcomment>
			<venda_block label=11,invtsavingonwas=notnull,invtwas!=0.00>
			<!--<p class="prod-price-was"><span><venda_text id=desktop.info.price_was></span><venda_currsym><venda_invtwas></p>-->
			<!--<p class="prod-price-save"><span><venda_text id=desktop.info.price_save></span><venda_currsym><venda_invtsavingonwas></p>-->
			</venda_block label=11>
			</venda_block label=10>
<venda_block label=500,mode=value,<venda_setting type=ebiz,name=showcomparebutton>=1>
	<venda_block label=702,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
		<venda_block label=601,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>!=1>
			<venda_block label=507,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
				<p class="prod-compare"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
			</venda_block label=507>
		</venda_block label=601>
		<venda_block label=602,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
			<p class="prod-compare prod-<venda_setting type=ebiz,name=setcomparekeywordtrigger>"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
		</venda_block label=602>
	</venda_block label=702>

	<venda_block label=703,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
		<venda_block label=603,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>!=1>
			<venda_block label=508,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
				<p class="prod-compare"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
			</venda_block label=508>
	</venda_block label=603>
		<venda_block label=604,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
			<p class="prod-compare prod-<venda_setting type=ebiz,name=setcomparekeywordtrigger>"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
		</venda_block label=604>
	</venda_block label=703>
</venda_block label=500>
	<venda_block label=104,invtsell2=notnull,invtatrminsubsell=0.00,invtatrmaxsubsell=0.00><p class="multibuy"><venda_text id=desktop.info.multi_buy_savings></p></venda_block label=104>
	 <venda_block label=reviews,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewslocayta>=1><venda_tpcomment><!-- power reviews snippets for product reviews --></venda_tpcomment>
	<div class="reviewstar" id="prs-<venda_invtref>">
				<input type="hidden" class="pr_page_id" value="<venda_invtref>"/>
				<input type="hidden" class="pr_write_review" value="<venda_dispview invt=<venda_invtref>>&temp=submitpowerreview&pageId=<venda_invtref>"/>
				<input type="hidden" class="pr_read_review" value="<venda_dispview invt=<venda_invtref>>#readReview"/>
			</div>
	</div></venda_block label=reviews>
	</venda_block label=119>

	<venda_block label=229,invtref=giftcert>
	<venda_tpcomment><!-- giftcert --></venda_tpcomment>
	<div class="prod-image js-prod-image">
		<venda_block label=412,med-rsmall=notnull>
		<a class="js-moredetail" href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><venda_media rec=invt,type=movie-swf-pict,key=rsmall></a>
		</venda_block label=412>
		<venda_block label=422,med-rsmall=null>
		<a class="js-moredetail" href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>"></a>
		</venda_block label=422>
	</div>
	<div class="prod-details">
		<h4 class="prod-name"><a class="js-moredetail" href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><venda_invtname></a></h4>
		<div class="js-sku" style="display:none;"><venda_invtref></div>
		<venda_block label=25,invtdesc2=notnull><p class="prod-invtdesc2 js-prod-invtdesc2"><venda_invtdesc2></p></venda_block label=25>
		<div class="prod-pricedetails">
			<venda_inctemplate type=includes,name=priceFormat>
		</div>
		<div class="deliveryusp">
			<p>Free next day delivery</p>
		</div>
		<p class="prod-moreinfo"><a class="js-moreInfo small success button" href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>" title="<venda_text id=desktop.info.product_moreinfo_title>"><venda_text id=desktop.button.more_info> <i class="icon-double-angle-right"></i></a></p>

	</div>
	</venda_block label=229>
	</div>
</venda_block label=45>

<venda_block label=46,invtpublish!=1>
	<venda_tpcomment><!-- unpublished --></venda_tpcomment>
	<venda_block label=43,invtref!=giftcert>
	<div class="prod-image js-prod-image">
		<venda_block label=41,med-rsmall=notnull>
		<venda_media rec=invt,type=movie-swf-pict,key=rsmall>
		</venda_block label=41>
		<venda_block label=42,med-rsmall=null>
		<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>">
		</venda_block label=42>
	</div>
	</venda_block label=43>
	<div class="prod-details">
		<h4 class="prod-name"><venda_invtname></h4>
		<div class="js-sku" style="display:none;"><venda_invtref></div>
		<venda_block label=47,invtdesc2=notnull><p class="prod-invtdesc2 js-prod-invtdesc2"><venda_invtdesc2></p></venda_block label=47>
		<div class="prod-pricedetails">
			<venda_inctemplate type=includes,name=priceFormat>
		</div>
		<p class="prod-unpublished"><span class="radius alert label"><venda_text id=desktop.info.not_available></span></p>
	</div>
</venda_block label=46>
